[2020-05-25 08:32] trentmc opened #2 "Epic: Build ocean-lib-py datatokens alpha"
Phase1 specs high level:
- [x] Functionality: quickstart READMEs for simple flow & marketplace flow at L2 py/js level
- NOT yet “everything guaranteed end-to-end for L3 marketplace”. Including: ok if DT transfer is done manually from Alice to Bob
- NOT yet compute-to-data
- [x] 75% coverage in unit tests. (Can leverage squid tests)
- [x] At least one integration tests using Rinkeby
- [x] Network s

[2020-05-25 18:38] trentmc opened #3 "Feature: ocean-lib-py that works for simple quickstart flow, except provider-py dependency. Prototype level."
- [x] Simple quickstart flow works, except mint and provider. Deploys ERC20 directly. Uses Brownie. Prototype level.
- [x] Update to use Factory.sol, grabbed via git clone. Get brownie's help as needed.
- [x] Update to not depend on brownie at all for regular users. (OK for developer users)

[2020-06-01 11:37] #3 closed, assigned to trentmc

[2020-06-02 07:10] trentmc opened #6 "Works with ocean-contracts 'develop' branch"
Goals:
- ocean-lib-py git clones off 'develop' branch, and still works
  - without needing its own 'fudged_contracts' subdir in ocean-lib-py.

Tasks:
- [x] Update ./make.py to use the 'develop' branch
- [x] Factory.sol:createToken() now takes only 'blob' as an argument, and auto-calcs token address. Gotcha: current py lib uses 'symbol' to find token address with the help of a tokenRegistry, as a w

[2020-06-02 17:24] #6 closed, assigned to nobody

[2020-06-09 05:59] trentmc opened #8 "Epic: compute-to-data example & trusted algs"
Target output of this epic:

1. a README:
- [x] Compute-to-data example README "make it work" -- ocean.py #101 -- Alex
- [ ] Compute-to-data example README "make it good" -- ocean.py #279 -- Trent. Depends on previous.

2. Algorithms in Ocean Market
- [x] Compute-to-data example in Ocean Market -- [multi-repo-issue#63](https://github.com/oceanprotocol/multi-repo-issue/issues/63) -- Alex
- [ ] Publ

[2020-06-09 06:04] trentmc opened #9 "epic: Build ocean-lib-py datatokens beta"
Target output: Full-featured ocean-lib-py, at beta level.

Beta-specs high level:
(i) Includes all alpha-specs for functionality
(ii) “Everything guaranteed end-to-end for L3 marketplace”: e.g. Balancer
(iii) Beta quality: “Features & DX what it should look like in production” but not hardened yet
(iv) 100% coverage in unit tests. System tests / travis-CI.
(v) Deployed as appropriate to pypi/npm,

[2020-06-16 12:33] trentmc opened #10 "Update lib-py with latest ocean-contracts"
For my work on [incentives](https://app.zenhub.com/workspaces/ocean-datatokens-5e5e5a97e91ce03f380fb9b7/issues/oceanprotocol/research/91) I want to use the cleanest-possible lib-py. I can't for Samer's lib-py that supports batteries-included flow.

The last time the main branch was updated was before the fees were removed. So the current lib-py is a bit broken.

The aim of this issue is simply to

[2020-06-16 13:50] #10 closed, assigned to trentmc

[2020-06-21 21:23] #2 closed, assigned to ssallam

[2020-06-27 06:30] trentmc opened #14 "Move READMEs"
The README*.md files don't need to be in the root directory. They take up mental space there. Move them to a subdirectory.

[2020-06-28 01:13] trentmc opened #16 "Build ocean-contracts incentives alpha, Build ocean-lib-py incentives alpha"
Alpha-specs high-level:
- Update the platform (contracts, JS, PY libs) to support Balancer flow (i) “use Balancer core capabilities directly” [Link](https://docs.google.com/presentation/d/1dLdHIFYxXPCJaO9fn4RukmlvehUGLKikG9rB8AtyBo4/edit#slide=id.g8a910c592e_3_11). But not Balancer flow (ii) “simple-as-possible for end user” [Link](https://docs.google.com/presentation/d/1dLdHIFYxXPCJaO9fn4Rukmlveh

[2020-06-28 01:14] #16 closed, assigned to trentmc

[2020-06-28 01:26] trentmc opened #17 "Build ocean-contracts incentives beta, Build ocean-lib-py incentives beta"
Beta-specs high-level:
- Update the platform (contracts, JS, PY libs) to support both Balancer flows: (i) “use Balancer core capabilities directly” “use Balancer core capabilities directly” [Link](https://docs.google.com/presentation/d/1dLdHIFYxXPCJaO9fn4RukmlvehUGLKikG9rB8AtyBo4/edit#slide=id.g8a910c592e_3_11), and (ii) “simple-as-possible for end user” [Link](https://docs.google.com/presentation

[2020-07-01 12:56] #14 closed, assigned to trentmc

[2020-07-01 12:57] trentmc opened #19 "Move Balancer .sol files from ocean-lib-py to ocean-contracts"
Tasks:

- [x] Update ocean-contracts. [commit 1](https://github.com/oceanprotocol/ocean-contracts/commit/d1c9c4858c1c294b62d845c86f74992e524baa12), [commit 2](https://github.com/oceanprotocol/ocean-lib-py/commit/d7511f4f224ac7d1dba48ad0767279638bbb8bc7)
- [x] Update ocean-lib-py. Make sure its tests run end-to-end. [commit 1](https://github.com/oceanprotocol/ocean-lib-py/commit/3176114da4a3f01205e

[2020-07-01 13:03] #17 closed, assigned to trentmc

[2020-07-01 13:36] #19 closed, assigned to trentmc

[2020-07-01 13:44] trentmc opened #21 "Datatoken issues: (a) duplicate addresses, (b) not exposing ERC20 methods, (c) not testing ERC20 methods"
Details:
(a) each new datatoken has the same address
To reproduce: use Ocean() object to create datatoken DT1. Then a second datatoken DT2. You will see that DT1.address == DT2.address.

(b)(c) datatokens.py::Datatoken doesn't expose all ERC20 methods. Yet it should. And there should be unit tests to handle this.

[2020-07-01 17:37] #21 closed, assigned to trentmc

[2020-07-01 17:42] trentmc opened #23 "Support flow: Balancer Quickstart (ii) - Simple-as-possible for end user"
Target flow is described [in these slides](https://docs.google.com/presentation/d/1dLdHIFYxXPCJaO9fn4RukmlvehUGLKikG9rB8AtyBo4/edit#slide=id.g8a910c592e_3_4)

Here's the rough code, taken from [an earlier prototype](https://github.com/oceanprotocol/ocean-lib-py/blob/3ae193c5d751de8af3f5f88daee719a555b35d7c/quickstart_balancer_flow.py)
[code]

[2020-07-01 20:41] #23 closed, assigned to nobody

[2020-07-20 09:30] alexcos20 opened #26 "Decentralized MetaData"
- [x] Provide on-chain DDO creation
- [x] Provide on-chain DDO update
- [x] Allow compressed  DDO
- [ ] Allow private encrypted DDO

[2020-07-22 07:40] 0x3bfc opened #27 "Replacing existing hardcoded contracts artifacts with pypi package"
Now a pypi package for the contracts is available with:

[code]

[2020-08-03 06:46] ssallam opened #28 "Update balancer pool interface"
The balancer pool interface is currently directly under the ocean instance.

We want this to be in its own module as in ocean-lib-js.

Make sure to verify that the ocean-lib-js spool interface has a 1:1 mapping with the solidity spool functions

[2020-08-03 06:48] ssallam opened #29 "Revisit brownie dependent tests and debugging guide"

[2020-08-03 06:49] ssallam opened #30 "Update signatures to use the provider nonce"

[2020-08-04 10:01] #30 closed, assigned to nobody

[2020-08-10 07:25] #28 closed, assigned to ssallam

[2020-08-11 10:19] alexcos20 opened #34 "Fixed price contract"
Add functions to support the fixed price contract.

[2020-08-11 10:19] ssallam opened #35 "Update create pool to use the solidity function."
This leads to a single call to create pool instead of setting liquidity and finalizing the pool setup.

[2020-08-11 10:20] alexcos20 opened #36 "SPool create update"

[2020-08-11 11:08] #9 closed, assigned to ssallam

[2020-08-11 11:21] trentmc opened #37 "Revive dynamic type checking"
Motivation: to help harden ocean.py

We had this in earlier days, using `enforce` library (enforce.py). We'd turned it off due to weird interaction with Brownie. But now we've removed Brownie dependency. So we can revive this. Samer kept a branch that's a snapshot of master before enforce was removed.

And, `enforce` only works up to python3.6. However `enforce_typing` library works for 3.8. So le

[2020-08-18 10:28] alexcos20 opened #38 "Fuzz tests"
Motivation: to help harden ocean.py

[2020-08-18 10:48] alexcos20 opened #39 "Docs.oceanprotocol.com updated for V3 for ocean-lib-py"

[2020-08-25 19:13] #34 closed, assigned to ssallam

[2020-08-25 21:40] #36 closed, assigned to ssallam

[2020-08-26 06:43] ssallam opened #42 "Rename SPool and SFactory"
BPool, BFactory
oceanprotocol/tech-spikes#96

[2020-08-27 20:24] #42 closed, assigned to nobody

[2020-08-27 20:54] #35 closed, assigned to nobody

[2020-09-01 10:16] alexcos20 opened #45 "For an address: published assets, pools, fixed-rate exchanges"
- [ ] published assets for an address
- [ ] list of pools (list of assets that you have provided liquidity)
- [ ] list of FixedRateExchanges

[2020-09-15 11:44] alexcos20 opened #49 "Allow external provider for createAccessServiceAttributes (createComputeService)"

[2020-09-15 15:32] #26 closed, assigned to alexcos20

[2020-09-17 09:12] trentmc opened #126 "Rename "metadataStoreUri" to "metadataCacheUri""
In the config dict, for ocean-lib-py and ocean-lib-js (and elsewhere), there's a field 'metadataStoreUri' which typically points to aquarius.

That status quo label is there for historical reasons: when aquarius was actually the storage for metadata. But this is no longer the case. Now, the blockchain is the storage and aquarius is simply the cache.

To rectify this, I recommend renaming to 'metad

[2020-09-17 12:38] alexcos20 opened #54 "Use of provider in ocean-lib-py"
https://github.com/oceanprotocol/ocean-lib-py/blob/master/ocean_lib/ocean/ocean_assets.py#L335

ocean-lib-py uses the config provider for consume, which is not the right way.
It should load the provider from the DDO

[2020-09-17 16:12] ssallam opened #55 "published assets without valid data token address"
see https://github.com/oceanprotocol/ocean-lib-js/issues/293

[2020-09-18 09:34] ssallam opened #56 "Use DataToken address as the assets `did`"
For details, go to this issue: https://github.com/oceanprotocol/ocean-contracts/issues/208

on-chain did: dtAddress (DataToken contract address)
off-chain did: did:op:dtAddress

Before this change, an off-chain did was `did:op:bytes32-hex-str`. We are replacing the bytes32-hex-str with the dtAddress

[2020-09-20 06:21] alexcos20 opened #57 "Metadata contract update"
see https://github.com/oceanprotocol/ocean-contracts/pull/209

Requires ocean-contracts 0.4.3

[2020-09-22 10:49] #54 closed, assigned to nobody

[2020-09-23 08:02] #57 closed, assigned to ssallam

[2020-09-23 08:03] #56 closed, assigned to nobody

[2020-09-23 08:06] #55 closed, assigned to nobody

[2020-09-23 08:07] #49 closed, assigned to nobody

[2020-10-18 06:43] #27 closed, assigned to nobody

[2020-10-30 07:56] trentmc commented on #39
Done. It basically points to ocean-lib-py (now ocean.py)

[2020-10-30 07:56] #39 closed

[2020-11-14 09:06] kboyeldieu opened #75 "ocean.assets.update() failing with an error giving no clear information"
I'm trying to update a dataset description using the API. I'm calling `ocean.assets.update(asset, wallet)`, which returns `ValueError: Invalid value to publish in the metadata: {'code': -32000, 'message': 'execution reverted'}`, although `ocean.assets.validate(asset.metadata)` returns true.

I can't tell what's wrong from this error. Could we include some more meaningful information?

[2020-12-01 10:14] alexcos20 commented on #75
@kboyeldieu - can you print your asset and wallet values please?

[2020-12-03 17:15] annonymmous opened #77 "Update to latest web3.py v5"
The path for the web3 utils has changed from:

web3.py/web3/utils/ to web3.py/web3/_utils/

accordingly the following ocean_lib modules for Python 3 are broken:

/usr/local/lib/python3.8/dist-packages/ocean_lib/models/data_token.py
/usr/local/lib/python3.8/dist-packages/ocean_lib/web3_internal/contract_base.py
/usr/local/lib/python3.8/dist-packages/ocean_lib/web3_internal/web3_overrides/request.py

[2021-01-05 08:03] trentmc commented on #37
Note: even without Brownie, the `enforce` library plays badly with python versions > 3.6.

However the library `enforce_typing` does work ok. Here's an example of using it, in a PR to replace `enforce`: https://github.com/oceanprotocol/tokenspice2/commit/63f22e33949932cfaeb1e9aa240aae1f93dc4840

[2021-01-05 13:20] trentmc opened #85 "Improve ocean.py onboarding"
ocean.py README currently has these steps:

1. Basic setup (READMEs/setup.md) - connects to network and Ocean service providers, configure Eth account / private key, publish first datatoken
1. Get an overview of ocean-lib -  short description of key ocean-lib modules and functions.
1. Quickstart marketplace flow - publish data assets as datatokens (including metadata), post the datatokens to a mar

[2021-01-05 14:41] calina-c opened #86 "Add a function to use the checkURL endpoint from provider"
The provider has a new endpoint to check the URL contentType and contentLength before proceeding. If the URL is missing, wrong, non-confoormant, does not support GET, or does not return anything, the checkURL endpoint returns a 400 response. This issue adds the possibility to call the checkURL endpoint from ocean.py.

[2021-01-06 11:15] #85 closed

[2021-01-06 11:35] trentmc opened #89 "ocean.py marketplace quickstart fails"
In [marketplace quickstart](https://github.com/oceanprotocol/ocean.py/blob/master/READMEs/marketplace_flow.md), the line `asset = ocean.assets.create(metadata...)` fails.

I copied the python code into a file play.py and ran that. [Here's the py file](https://app.zenhub.com/files/266274883/beee1872-779b-4c0e-8581-ef9689eb9a2b/download).

Here's the traceback:
[code]

[2021-01-06 13:58] trentmc commented on #89
Debugging info:

In `aquarius.py`, method `list_assets()`, right before line `json.loads(response)`, values are:
[code]

[2021-01-06 14:29] trentmc commented on #29
I don't think this is worth pursuing here. Bigger fish to fry. Closing.

[2021-01-06 14:29] #29 closed

[2021-01-06 15:13] trentmc commented on #89
Just talking with @alexcos20 : the problem is that ocean.py does not know what the smart contract addresses on rinkeby are. Unlike ocean.js, it's not smart enough to figure those out itself at this point.

This can be fixed in the quickstart by setting the ADDRESS_FILE envvar.

Here's how ocean.js is working:vhttps://github.com/oceanprotocol/ocean.js/blob/main/src/utils/ConfigHelper.ts#L21

[2021-01-07 15:52] trentmc opened #92 "rinkeby addresses in "ocean.py" != those in "contracts""
https://github.com/oceanprotocol/ocean.py/blob/master/artifacts/address.json contains:

[code]

But the deployed contracts given at https://github.com/oceanprotocol/contracts/blob/master/docs/deployments/rinkeby.md do not have those addresses.

Aim of this this issue: find which needs updating (ocean.py/ or contracts/) and update it.

[2021-01-07 15:53] trentmc commented on #92
@ssallam @alexcos20 do you know which is the correct version?

[2021-01-07 15:57] trentmc commented on #89
The rinkeby addresses for ocean.py and contracts are out of sync. Not sure which is the one in error. New github issue created:
https://app.zenhub.com/workspaces/ocean-main-5e5e5a97e91ce03f380fb9b7/issues/oceanprotocol/ocean.py/92

[2021-01-07 15:59] trentmc commented on #89
To try to get *this* issue solved without waiting for the fix listed in #92 above, I changed the addresses locally. That is:

1. In bash:
[code]

2. Created I created /home/trentmc/address.json by copying ocean.py/artifacts/address.json and changing the following fields:
[code]

Same issue :(

[2021-01-07 16:00] trentmc commented on #89
However it turns out that it might be just an issue with rinkeby aquarius. More digging led me to see the following. (And this is fully independent of ocean.py)

Of the commands below, the first two work, and the third fails.
curl https://aquarius.mainnet.oceanprotocol.com/api/v1/aquarius/assets
curl https://aquarius.ropsten.oceanprotocol.com/api/v1/aquarius/assets
curl https://aquarius.rinkeby.oc

[2021-01-07 16:15] trentmc commented on #89
My debugging notes, for posterity.

Ideally this ticket will be solved once the two new issues above are solved.

[https://app.zenhub.com/files/266274883/a344f750-4371-4940-8723-3ded19ccf9b6/download](https://app.zenhub.com/files/266274883/a344f750-4371-4940-8723-3ded19ccf9b6/download)

[2021-01-07 16:35] trentmc commented on #92
From @ssallam :

trying to check the addresses used in the deployed Aquarius

[code]

[2021-01-07 17:11] trentmc commented on #92
The addresses used in deployed aquarius are the same as those in https://github.com/oceanprotocol/ocean.py/blob/master/artifacts/address.json.

They're also the same as those used in https://github.com/oceanprotocol/contracts/blob/master/artifacts/address.json

The problem in general is that the .md files in https://github.com/oceanprotocol/contracts/tree/master/docs/deployments are confusing. E.g

[2021-01-07 18:34] trentmc commented on #89
Update: @ssallam worked on this, and got Aquarius to work for the third. I just checked and can confirm it's working now too.

[2021-01-07 18:41] trentmc opened #93 "ocean.py READMEs point to *.dev-ocean.com not *.oceanprotocol.com"
dev-ocean is obsolete.

Proper urls to use:
- https://provider.rinkeby.oceanprotocol.com
- https://aquarius.rinkeby.oceanprotocol.com

More context: https://docs.oceanprotocol.com/concepts/network-rinkeby/

[2021-01-07 18:47] trentmc commented on #93
PR  https://github.com/oceanprotocol/ocean.py/pull/94

[2021-01-07 19:45] #93 closed

[2021-01-07 19:46] #92 closed

[2021-01-07 19:49] trentmc opened #95 "Deprecate 'artifacts' dir, point to contracts repo instead"
**Problem**

Right now the ocean.py repo has an `artifacts` directory, containing:
* `address.json` - lists the address of each Ocean smart contract deployed to Eth mainnet, and other networks
* `BFactory.json` - ABI for BFactory smart contract
* `BPool.json` - ABI for BPool ..
* (and several more ABI jsons)

Issues: The redundant storage of this information means that whenever the contract deploy

[2021-01-07 19:52] trentmc commented on #89
Another issue emerged: service urls in the READMEs pointed to *.dev-ocean.com rather than *.oceanprotocol.com. I created a github issue for this: https://github.com/oceanprotocol/ocean.py/issues/93

[2021-01-07 19:53] trentmc commented on #89
Up to this point, 3 problems emerged that led to 3 corresponding github issues, as given in above comments. Each of those problems have been solved, and github issues closed.

Therefore we're now in a position to test the marketplace flow again, for this github issue.

[2021-01-08 16:28] surajsjain commented on #89
The `ocean.assets.create()` step is now giving me the following error:
[code]

It says `Max retries exceeded with url: /api/v1/aquarius/assets`. So, this one an error on the Aquarius side as well?

[2021-01-09 08:22] trentmc commented on #89
I was able to replicate your error.

I fixed that error with this PR: https://github.com/oceanprotocol/ocean.py/pull/97

Notes:
- originally the service had url `aquarius.rinkeby.v3.dev-ocean.com` (and similar for provider)
- then we created the service `aquarius.rinkeby.oceanprotocol.com`, quite a while ago now. That's the ones we've been maintaining. The READMEs etc were not updated at the time.

[2021-01-09 08:23] trentmc commented on #93
Note: there was an error in the change above. Fixed in this PR: https://github.com/oceanprotocol/ocean.py/pull/94. And treated as part of #89.

[2021-01-09 08:47] trentmc opened #98 "Docker image name issues"
This PR identified issues with Docker image names in the READMEs: https://github.com/oceanprotocol/ocean.py/pull/50

The problem: where `@` was used and shouldn't be.

The PR makes other changes too, and some of those are obsolete. It's simplest to re-do the changes for `@` and commit that. That's the aim of this issue.

[2021-01-09 08:50] #98 closed

[2021-01-09 08:59] trentmc commented on #86
Could you provide a better description to the issue, please?

[2021-01-09 09:12] trentmc opened #100 "Check for OCEAN in marketplace flow onboarding"
Motivation: to smooth onboarding.

In marketplace_flow.md:
[code]

The call to `ocean.pool.create()` needs OCEAN. If the wallet has no OCEAN there will be a somewhat cryptic error that the call failed. But it doesn't give much details why. We can improve that by first checking if the account has OCEAN and telling the user if there isn't any.
[code]

[2021-01-09 09:36] trentmc opened #101 "Add compute-to-data example README: make it work"
Goal of this issue: write down some super-basic flow for compute-to-data example, as a new file in ocean.py READMEs repo. Just "make it work". Rough & messy is ok!

Then, Trent will follow up with "make it good" in #279

-----

RESULT: @alexcos20 just shared to me (@trentmc) the following steps. This is enough of a starting point for me to work with. Therefore I will close this issue.

**STEPS:**

[2021-01-09 09:49] trentmc opened #102 "DataToken:token_balance(), etc is redundant with its ERC20 standard method balanceOf()"
DataToken has ERC20 functionality, as it should. They're implemented in data_token.py:DataToken class, here:
[code]

And these methods are well-tested, in test_datatoken.py.

Yet DataToken also has these methods:
[code]

These methods are redundant with `balanceOf(), mint(), approve() and transfer()` respectively. They do a bit more though: they convert from the base-18 (like 18) to regular units

[2021-01-09 09:54] trentmc commented on #101
Doing this will also help for #8 "Epic: datatokens demo showing data science flow"

[2021-01-09 10:13] calina-c commented on #86
@trentmc Added a description, and will do so for ocean.js as well.

[2021-01-09 12:28] surajsjain opened #103 "Error in publishing asset to market (Temporary fix available too)"
I was trying the quickstart for the marketplace flow and in the step where I had to resolve the _did_ (`asset = market_ocean.assets.resolve(did)`), I got the following error:

[code]

I found out that it was trying to connect to the locally hosted instance of Aquarius from the following line of the error:
[code]

So, I changed headed over to the `ocean_assets.py` file and I made a temporary adjust

[2021-01-09 13:41] trentmc commented on #100
Done in https://github.com/oceanprotocol/ocean.py/pull/104

[2021-01-09 13:41] #100 closed

[2021-01-09 13:42] trentmc commented on #89
Now it's working up to mid step 7.
https://github.com/oceanprotocol/ocean.py/pull/104

[2021-01-09 13:43] trentmc commented on #103
FYI I just did a push to improve marketplace quickstart flow. Likely doesn't fully help you, but it's an fyi.

[2021-01-09 13:45] trentmc commented on #103
It's in ocean_lib/config.py.

[code]

I have to run now, will check in later.

[2021-01-09 15:38] trentmc commented on #103
Could you re- run through the marketplace flow now and see if you hit the same issue please?

Be sure to check that you have set the AQUARIUS_URL envvar to the rinkeby url, as the README directs near the beginning.

Thank you!

[2021-01-09 16:08] trentmc commented on #89
Here's the error I get in mid step 7, which is the current subject of this issue.
[code]

[2021-01-09 17:39] trentmc commented on #89
Just put in https://github.com/oceanprotocol/ocean.py/commit/3c5e07f02ecca817c50231a93fdea2bc39fdd75d

Now it's successfully running to end of step 7/7.

Still have the bonus rounds to go.

[2021-01-09 17:41] surajsjain commented on #103
It's working now. Thanks!

[2021-01-09 17:41] #103 closed

[2021-01-09 18:07] surajsjain opened #106 "ocean.pool.create() does not work within a .py file but works within the Python shell. (+ a weird thing that makes it work within .py files)"
I tried `pool = ocean.pool.create(token_address, data_token_amount=100.0, OCEAN_amount=10.0, from_wallet=alice_wallet)` from the marketplace flow documentation within the python shell and it worked just fine. But when I put it in a **.py** file along with other code, it threw the following error:
[code]

So, just out of curiosity, I tried the following within the **.py** file:
[code]
I just told i

[2021-01-09 19:36] surajsjain commented on #106
Update: now, the while loop with the try-except isn't working either

[2021-01-09 21:25] trentmc commented on #86
Great!

[2021-01-10 13:52] trentmc commented on #106
They're supposed to behave the same. Perhaps compare the values in ocean.config for each? Maybe some envvar didn't get set for the file based approach.

I'll aim to reproduce this tomorrow.

[2021-01-11 07:17] trentmc commented on #102
I thought more about this.

Here' the engineering challenge to resolve:
- be true to "being a driver" for the underlying datatoken smart contract, the way that web3.py does
- make it easy for user-developers, especially ones less familiar with web3 tech, to get going quickly with this (and the base-18 stuff is friction)

The existing design of ocean.py (including DataToken implementation) balances

[2021-01-11 07:17] #102 closed

[2021-01-11 12:58] surajsjain commented on #106
I copy-pasted the arguments passed to ocean.pool.create from the Python shell to the .py file, but it does not run in the .py file without the while loop and the try-except blocks. The environment variables were the same for both the .py file as well as the python shell. I also cross-verified the envvars with the marketplace flow in the docs. But the .py file still throws the same underpriced erro

[2021-01-11 13:27] trentmc commented on #106
Good afternoon!

Thanks for the report. It might still be that some non-envvar config is an issue. But before that, here's another possibility:

It can take a while for the Eth tx to go through. And, it can take a while for Aquarius to updated info.

This would be consistent with the issue that you saw, and the workaround you had.

As a specific thing to try: what if you did a pause(), for say 20

[2021-01-12 04:44] trentmc commented on #89
What was left: bonus rounds. I realized that we can simply deprecate these. So I did that in https://github.com/oceanprotocol/ocean.py/blob/master/READMEs/marketplace_flow.md. Specific reasons given in that commit.

[2021-01-12 04:44] #89 closed

[2021-01-12 05:41] surajsjain commented on #106
I used `time.sleep()` to pause the flow of execution for 30 seconds and it worked. I have created a [pull request](https://github.com/oceanprotocol/ocean.py/pull/107) for the documentation to have the same.

[2021-01-12 06:18] #106 closed

[2021-01-12 07:11] alexcos20 opened #108 "Ocean.py access lists"
Ocean.py should:
 - allow user to define the access list on publish
 - allow user to edit the access list
 - check access list during startOrder and reject the order if needed

[2021-01-13 08:09] alexcos20 opened #110 "Ocean.py: Dynamic provider endpoints"
Blocked by https://github.com/oceanprotocol/provider/issues/36

Right now all endpoints are hardcoded (https://github.com/oceanprotocol/ocean.py/blob/master/ocean_lib/data_provider/data_service_provider.py#L372)

Ocean.py should read the provider root endpoint (/ ) and create the required URLs based on that information.
Also errors are going to be thrown if a service that is not exposed is being a

[2021-01-14 08:25] alexcos20 commented on #108
closed for now

[2021-01-14 08:25] #108 closed

[2021-01-19 15:39] kremalicious opened #113 "development instructions are super confusing"
**Problem**

The current instructions provide a terrible onboarding experience for both (a) devs just using ocean.py and (b) devs working to improve ocean.py code itself (in developers.md).

Use case: I'm an external developer and want to do a tiny code change and want to test my change locally. developers.md tells me to clone 3 repos and in the end no tests can run locally.

For testing flow, com

[2021-01-19 16:16] kremalicious commented on #101
no, please not more READMEs. There should be a proper compute-to-date example, see https://github.com/oceanprotocol/ocean.py/issues/113

[2021-01-19 16:43] kremalicious commented on #113
@alexcos20 @ssallam let's start by first figuring out the most basic way to run the tests locally. What else is required to make this succeed?

[code]

@mariacarmina what do you get when you run this?

[2021-01-19 16:46] trentmc commented on #113
I'm glad to see this as an issue 👍👍

[2021-01-19 16:49] mariacarmina commented on #113
So, I want tot test locally the tests from ocean.py. I updated the provider's version, then I run barge with the provider too, I wait a little and the I run in the second terminal (in ocean.py) tox and I received this error and some timeouts.
![newBarge](https://user-images.githubusercontent.com/50501033/105065945-1a1b1780-5a87-11eb-86f9-f4493a38a4e3.PNG)

[2021-01-19 17:00] trentmc commented on #101
I'm fine with not forcing this to be a README. it could be in docs.oceanprotocol.com. Though if it's there it will be harder to maintain and keep accurate than in here. And if in here, how do you do it if it isn't a README?

I don't see the connection with #113. That is for developers wanting to *improve* ocean.py itself. Whereas this issue is for people wanting to simply *use* ocean.py.

[2021-01-19 17:14] kremalicious commented on #101
added 2 use cases to #113, but agree it should focus on the develop ocean.py instructions.

Think the main issue is that mixup of docs & examples. As a developer I expect example code to run, so having that in markdown is not that useful. Also makes it hard to auto-verify it on code changes and then we end up quickly with wrong code examples as the codebase progresses.

So my suggestion would be t

[2021-01-19 17:36] trentmc commented on #113
This issue, and its related README file, are related to developers looking to *improve* ocean.py, vs simply *use* it.

I believe these the relevant issues that this ticket should be addressing.

This is a good idea. But outside the scope of *this* issue, since it's for developers simply using ocean.py. Go ahead and create that issue if you feel it's worth it:)

90%+ users of ocean.py are just that

[2021-01-19 17:42] trentmc commented on #101
:)

https://github.com/oceanprotocol/ocean.py/blob/master/READMEs/compute-flow.md

Yep. But it's obsolete. The original name of this ticket was about reviving exactly that code:)

This is the crux of the issue, I think.
* One extreme is simply a .md with a mix of text and code. Pro: ease of understanding, which is the main point of a README. Con: can't easily copy-and-paste all code. Con: hard to

[2021-01-20 08:07] mariacarmina commented on #113
Problem solved. When you update the barge, you need to delete the containers first: docker container rm $(docker ps -a -q).

[2021-01-26 11:30] #86 closed

[2021-01-27 07:29] alexcos20 opened #114 "Ocean.py: Secure algorithms"
change the structure of trustedAlgorithms in the ddo from :
trustedAlgorithms=['DID1','DID2']
to
publisherTrustedAlgorithms=
{
"did1":{
"filesChecksum":"1234",
"containerSectionChecksum":"7676"
},
"did2":{
"filesChecksum":"1232334",
"containerSectionChecksum":"98787"
}
}

To produce filesChecksum:

sha256(algorithm_ddo.service['metadata'].attributes.encryptedFiles + JSON.Stringify(algorithm_ddo.se

[2021-01-27 07:44] alexcos20 opened #115 "Ocean.py: Add allowAnyPublishedAlgorithm to compute privacy options"
Also, check the flag when starting a compute

[2021-01-27 10:52] alexcos20 opened #116 "ocean.py: datatoken.verify_order_tx: should allow access if the sender is either the consumer or the payer of an order"
Provider is using this function to check the access rights

Order event definition:  https://github.com/oceanprotocol/contracts/blob/master/contracts/templates/DataTokenTemplate.sol#L33

[2021-01-27 12:28] ssallam commented on #77
This is not a bug. The user is trying to use a newer web3 version.
Resolving th is issue requires upgrading ocean.py to use the newer version of web3.

[2021-01-29 06:25] alexcos20 opened #117 "Add a getter for provider's address"
**Is your feature request related to a problem? Please describe.**
We need to be able to get the provider's address.

Add a getter for that

[2021-02-01 20:26] kremalicious opened #118 "release process is undocumented"
Release process is completely missing. How do tagged releases + GitHub release work? How is the CHANGELOG.md (currently empty) generated? How do builds end up on PyPi?

Note: Follow-up issue is #179 to _simplify_ the release process.

[2021-02-01 20:42] kremalicious commented on #77
we should not force developers into using multiple-year-old versions of dependencies. web3.py v5 is out for almost 2 years, yet we are still running here with web3.py v4.7.1, released in Sept. 2018. So we really should update to latest version of web3 library, just like ocean.js does

[2021-02-01 20:44] kremalicious commented on #75
@kboyeldieu please reopen if issue still persists on your side

[2021-02-01 20:44] #75 closed

[2021-02-04 10:40] kremalicious opened #121 "make code coverage more visible"
**Problem**

Hard to figure out what the current code test coverage is (69%) cause it can only be found here: https://travis-ci.com/github/oceanprotocol/ocean.py/jobs/480270206#L696

**Suggested solution**
There should be a badge in the readme, sourced from whatever tool is used here to collect the coverage reports.

Example: ocean.js readme badges line: https://github.com/oceanprotocol/ocean.js

[2021-02-04 12:08] mariacarmina commented on #117
https://github.com/oceanprotocol/provider/pull/80

[2021-02-07 17:55] kremalicious commented on #38
what does this mean? What should be done here? There's not even 70% coverage in the existing unit tests right now so what exactly is the goal of those so far undescribed tests?

[2021-02-08 06:47] #117 closed

[2021-02-08 09:28] alexcos20 commented on #115
closing this, because empty trustedList = allowAnyAlgo

[2021-02-08 09:28] #115 closed

[2021-02-08 15:07] trentmc commented on #126
@kremalicious challenge accepted :)

Given that the only remaining thing is in ocean.py repo, I moved this issue to that repo.

[2021-02-10 11:30] mariacarmina opened #127 "Resolve Codacy analysis issues in ocean.py"
The title itself represents the description of this issue.

[2021-02-12 12:05] 0x3bfc opened #130 "start compute should accept multiple DIDs"
https://github.com/oceanprotocol/ocean.py/blob/23274698df4aae078d53b12d768c721af16f6e80/ocean_lib/ocean/ocean_compute.py#L179

[2021-02-15 20:24] alexcos20 opened #131 "Compute-to-Data: Remote Algorithms & multiple access inputs"

[2021-02-16 10:12] trentmc commented on #130
@0x3bfc please specify this issue better. Here's the template.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description o

[2021-02-17 13:36] trentmc commented on #126
@mariacarmina can you confirm that ocean.py has been re-deployed to pip? Once yes, we can close this.

[2021-02-17 14:33] mariacarmina commented on #126
I think it was automatically closed due to merging process.

[2021-02-17 15:13] trentmc commented on #126
Yep! No worries, I've reopened until pip deployment done :)

[2021-02-18 11:45] #127 closed

[2021-02-18 13:11] #131 closed

[2021-02-22 12:03] trentmc opened #140 "For matic, update ocean.py to bump ocean-contracts library"
**Is your feature request related to a problem? Please describe.**
[Here's the issue to deploy to Matic](https://github.com/oceanprotocol/multi-repo-issue/issues/77).

Part of it is about updating ocean contracts.

For that, it means updating ocean.py accordingly.

That's the goal here.

Here's the easiest way to do it: do ocean.py #95 first. ("Deprecate address.json in ocean.py, point to the one

[2021-02-22 14:33] trentmc commented on #110
The branch "issue110" is still in the codebase. I believe it can be deleted? @mariacarmina

[2021-02-22 14:34] trentmc commented on #116
The branch "issue116" is still in the codebase. I believe it can be deleted?

I'll re-open this issue until the branch is deleted (or otherwise appropriate action)

@mariacarmina

[2021-02-22 17:45] trentmc opened #141 "quickstart fails using pay_for_service(); recent changes broke backwards compatibility"
**Describe the bug**

In mid Jan I revised the quickstarts to help make them easier to use. They all worked then.

Today, I decided to see how they do now. Everything went fine until step 7 of the final quickstart flow - the marketplace quickstart.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to marketplace quickstart README
2. Go through the steps. It will fail at step 7 with:
[code]

[2021-02-22 18:15] alexcos20 commented on #130
we already have this in https://github.com/oceanprotocol/ocean.py/issues/131

[2021-02-22 18:15] #130 closed

[2021-02-22 18:16] trentmc opened #142 "file_path returned from assets.download() is not complete"
**Describe the bug**
When making a call to `ocean.assets.download()`, I do not get the full path of the file that I just downloaded. I get everything except for the last part, e.g. the part with `datafile.0x90ba155..`.

**To Reproduce**

Fortunately it's easy! It appears in step 7 of the marketplace quickstart.

Steps to reproduce the behavior:
1. Go to marketplace quickstart
2. Do it all, until y

[2021-02-22 22:10] alexcos20 commented on #141
No need to release a new major.
#143 fixes that, providing compatibility for both scenarios (with consumer or without)

[2021-02-22 22:11] alexcos20 commented on #141
"Write / ensure there's a unit test to capture behavior when consumer is specified and non-None. It should pass"  - that should be caught in Compute tests
"Write / ensure there's a unit test to capture behavior when consumer is specified and None. It should pass." - that should be caught in Market tests

[2021-02-23 00:05] the0riginalgandalf opened #144 "Cannot Find Contract Address"
**Describe the bug**
Working my way through the getting started tutorial for ocean.py. Followed it exactly but when I run the script I get a  FileNotFoundError. The `get_contracts_addresses` function is what's returning the error.

**To Reproduce**
[code]

cannot find contract addresses:
artifacts path is C:\Users\USER\\.ocean\ocean-contracts\artifacts, address file is C:\Users\USER\\.ocean\ocean-

[2021-02-23 07:19] trentmc commented on #118
High priority because not having it is big friction for anyone fixing bugs or enhancing ocean.py.

[2021-02-23 07:24] trentmc opened #146 "ocean.py: Only allow code merges if unit test code coverage ratchets up"
(Prerequisite: #121 made code coverage more visible)

**Is your feature request related to a problem? Please describe.**
We constantly have bug "fixes" where it's just a change to the code, but there are no unit tests. Over time the quality of the sw deteriorates. The excuse is "not enough time" but this is simply untrue because we *do* pay back in spades. Quality comes for free, and then some. So

[2021-02-23 07:30] trentmc commented on #146
Making high priority to prevent further slippage of quality.

[2021-02-23 07:50] trentmc commented on #118
Updates:
 * 5 days ago Samer added the file RELEASE_PROCESS.md
 * today I linked to it from developers.md.

So at least now we have a basic release process! I can turn off the "high" priority label.

This is what's needed to close the issue.

[2021-02-23 08:01] trentmc commented on #144
Note: #95 should address this, I'm working on it soon

[2021-02-23 08:59] trentmc opened #148 "Link broken in RELEASE_PROCESS.md"
**Describe the bug**
It points to https://pypi.org/project/ocean.py/

But should point to https://pypi.org/project/ocean-lib/

[2021-02-23 09:01] trentmc commented on #148
Fixed in https://github.com/oceanprotocol/ocean.py/commit/5355f496834ba51e6be44968b4bb629cafbc7a14

by @calina-c

[2021-02-23 09:01] #148 closed

[2021-02-23 09:22] trentmc commented on #95
Note: this is WIP in the branch: https://github.com/oceanprotocol/ocean.py/tree/issue95

[2021-02-23 09:49] trentmc opened #149 "Improve unit and integration testing"
**Is your feature request related to a problem? Please describe.**
The goal of this epic is to make unit tests and integration tests more thorough, aiming at 95% coverage.
ocean.py is getting a lot of silly bugs that should never happen, things that would be covered if we had thorough unit tests on all the sub-modules.

We have nice, thorough unit tests for `ocean_lib/modules` we have the `tests/m

[2021-02-23 10:03] trentmc opened #150 "Developer documentation doesn't give guidance on workflow to follow (PRs etc)"
**Is your feature request related to a problem? Please describe.**
The issue is like the title says. It's in file developers.md. Therefore developers don't know how to contribute.

**Describe the solution you'd like**
Add a step about how to contribute the changed code. Link to:
https://docs.oceanprotocol.com/concepts/contributing/#fix-or-improve-core-software

[2021-02-23 10:07] #150 closed

[2021-02-23 10:07] trentmc commented on #150
Fixed in https://github.com/oceanprotocol/ocean.py/commit/40336c576003011a75aa628d9dad3050724a607e

[2021-02-23 10:14] trentmc commented on #95
Here's where ocean.js grabs the info:
https://github.com/oceanprotocol/ocean.js/blob/main/src/utils/ConfigHelper.ts#L5

[code]

And later in the file how it uses it:
[code]

[2021-02-23 10:15] trentmc commented on #95
Here's the file in the `contracts` repo:
https://github.com/oceanprotocol/contracts/blob/master/artifacts/address.json

The contents look like
[code]

[2021-02-23 10:27] trentmc commented on #95
The ocean.py file of interest is https://github.com/oceanprotocol/ocean.py/blob/master/ocean_lib/config.py

It has parameter `DEFAULT_ADDRESS_FILE` which populates `ADDRESS_FILE`, which in turn populates:
[code]

Which in turn is used as:
[code]

And that property is used in the following places. (From here on I will debug to myself lol)
[code]

[2021-02-23 10:53] trentmc opened #152 ""readthedocs" style documentation"
**Motivation**
We can greatly reduce dev user onboarding friction by having a readthedocs style documentation, the way that web3.py or eth-brownie does.

**What**

Specs:
- First-cut release of this documentation
- Should somehow reconcile all the dev user documentation currently in the READMEs / quickstarts
- Should play well with docs.oceanprotocol.com

TODOs:
- [ ] Flesh out the specs for this

[2021-02-23 10:54] ssallam opened #153 "optimize the release process"
The goal of this task is to make the release process as short as possible without manual steps. Ideally starting a script will do the perform all of the steps.

[2021-02-23 11:24] #116 closed

[2021-02-23 11:26] ssallam commented on #126
v0.5.10 is already released in pypi.

[2021-02-23 11:26] #126 closed

[2021-02-23 11:27] #110 closed

[2021-02-23 13:24] trentmc commented on #141
While this was merged, we still need a new version of ocean.py deployed. @calina-c

[2021-02-23 14:04] trentmc commented on #146
Suggestion of how to do it:
https://github.com/oceanprotocol/ocean.js/issues/626#issuecomment-784216054

[2021-02-23 14:17] trentmc opened #154 "marketplace quickstart: problems with running services"
**Is your feature request related to a problem? Please describe.**
A user was trying to go through marketplace quickstart. Here was his feedback:

[code]

**Describe the solution you'd like**
Ensure that the the quickstart works for users more reliably.

Note that just yesterday I tested quickstart end-to-end, it worked for me. --trentmc

The issue above was: the user was trying to run his own ser

[2021-02-23 14:18] #154 closed

[2021-02-23 16:11] kremalicious commented on #146
this implies the existing codequality tool used in here supports GitHub commit status notifications for each pull request, only after that is setup this repo's branch protection rules can be adapted

[2021-02-23 16:34] kremalicious commented on #121
Found ocean.py on Codacy but looks like we do not send any code coverage reports to there, or it's broken. Until that is solved there is no badge to display https://app.codacy.com/gh/oceanprotocol/ocean.py

[2021-02-23 16:55] kremalicious opened #155 "rename default branch to `main`"
ocean.py, aquarius, provider are the only repos using `master`. This repo should follow the same pattern as all other repos by using `main` as the default branch:

- rename default branch (GitHub has even interface for that in repo settings), deleting `master` in the process
- if any, update all references to `master` branch to `main`
- make sure to switch default branch in any attached tools, lik

[2021-02-24 07:59] calina-c commented on #121
@kremalicious Can we do something like this? It doesn't include third parties: https://itnext.io/github-actions-code-coverage-without-third-parties-f1299747064d

[2021-02-24 08:07] trentmc opened #156 "8 unit tests break with KeyError: 'serviceEndpoints'"
**Describe the bug**

Running all unit tests (via pytest) gives these failures:
[code]

**To Reproduce**

I'm running locally with barge, on ubuntu.

```pytest```

**Full trace**

Here's an example failure.
[code]

[2021-02-24 08:11] trentmc commented on #156
Assigning to @calina-c as she's recently worked on `serviceEndpoints`. Bottom line shows that there was a change on Feb 8.

[code]

[2021-02-24 08:12] trentmc commented on #156
High priority because unit tests should *never* be breaking.

[2021-02-24 08:16] trentmc commented on #156
Related: [ocean.js#628](https://github.com/oceanprotocol/ocean.js/issues/628) "Integration tests are failing on main"

[2021-02-24 08:30] trentmc commented on #156
Note, from Calina:
[code]

Note, from Trent: I tried barge with the new option. Still fails, same error.

[2021-02-24 08:57] trentmc opened #157 "40+ pytest warnings add friction to testing"
**Is your feature request related to a problem? Please describe.**
When I go to run even a single unit test, I get 40 warnings, all deprecation warnings. (Examples below). It makes it really hard to wade through to get to what actually matters - the errors, and non-deprecation warnings.

The warnings are for 3rd party packages related to python3.8. Not really in our control, and they'll get better

[2021-02-24 09:26] trentmc commented on #141
Has a new version of ocean-lib been deployed for pypi? (See checklist in ticket description)

[2021-02-24 13:06] kremalicious commented on #121
sure, whatever works without too much maintenance on our part. Also depends on what backend team chooses to monitor and measure code coverage and code quality. But in the end everything works which provides us with PR status notifications based on diff coverage. On js repos we use CodeClimate and it also posts this PR comments like https://github.com/oceanprotocol/ocean.js/pull/622#issuecomment-78

[2021-02-24 13:55] #141 closed

[2021-02-24 14:47] trentmc opened #162 "test_payer_market_flow - TypeError: Cannot convert None of type <class 'NoneType'> to bytes"
**Describe the bug**

In running pytest, I got the bug described in the title. Full trackback below.

Note: all other tests passed. tox also fully passed.

**TODOs**

- [ ] Fix the bug so that the unit test passes
- [ ] If possible, identify why it passed on tox but not on pytest. Will be important going forward.

**To Reproduce**

Follow steps 1-5 of developers.md (incl recent commit https://gith

[2021-02-24 14:51] trentmc commented on #162
High priority because breaking unit tests.

[2021-02-24 14:53] trentmc commented on #156
Note: fixes for other issues today by @calina-c have led to fixing this as well.

There's one remaining issue, which is documented in #162.

Therefore we can close this issue.

[2021-02-24 14:53] #156 closed

[2021-02-24 14:58] kremalicious commented on #162
is this still happening with fresh Docker images and volumes? Cause there was a change in barge compose files, so using the [`--purge` option](https://github.com/oceanprotocol/barge#all-options) or the full nuclear `docker system prune --all --volumes` might be required to get those changes

[2021-02-24 14:58] trentmc commented on #157
I realized that I shouldn't have closed until I have tested that it's working without needing the `--with-provider2` flag when running barge; or unless we've updated documentation and user expectations accordingly.

[2021-02-24 15:01] kremalicious commented on #157
I'm also confused about that new `--with-provider2`. It seems both libraries have this now set in Travis since yesterday. If this flag is required to run anything successful against barge, it should be a default

[2021-02-24 16:06] trentmc commented on #162
Yes. I had ran `run docker system prune -a --volumes` (see issue description).

[2021-02-24 21:31] mariacarmina commented on #162
The test doesn't pass with `pytest`, because of some missing `env vars` that exist in `tox`. I'll fix it.

[2021-02-25 07:17] calina-c commented on #162
I will help Maria with this. I reproduced it once after restarting my computer, but my local barge is still acting up. Working on fixing that first, since it blocks me from most tasks.

[2021-02-25 07:40] ssallam commented on #95
if the address file path is specified in the config file or in the envvar then that is what will be used. When none of the above is declared, then it relies on the artifacts path. The artifacts path, if not specified in the config or env, will be extracted from the venv or the python installation.

[2021-02-25 07:47] trentmc commented on #95
Yep! Overall the path needs to be generalized to support files at a url. That's my approach in the [PR](https://github.com/oceanprotocol/ocean.py/pull/160). Many nuances to test for, but coming along:)

[2021-02-25 07:52] ssallam commented on #162
this can be fixed by setting:
`TEST_PRIVATE_KEY3=0x732fbb7c355aa8898f4cff92fa7a6a947339eaf026a08a51f171199e35a18ae0`

[2021-02-25 09:05] mariacarmina commented on #162
Yes, I've added `TEST_PRIVATE_KEY3=0x732fbb7c355aa8898f4cff92fa7a6a947339eaf026a08a51f171199e35a18ae0` and it passed. Need an update for documentation, more specific `Test` section from `developers.md`.
![export](https://user-images.githubusercontent.com/50501033/109129420-4e09ec80-7759-11eb-9c65-5a7dda784840.PNG)

[2021-02-25 09:13] ssallam commented on #162
There should be an assertion in the Wallet when given invalid key.

[2021-02-25 09:27] ssallam commented on #162
the real issue here is not the missing envvar, but the lack of argument validation in Wallet. The PR 163 should address this.

[2021-02-25 09:38] ssallam commented on #162
Still need to update the docs.

[2021-02-25 09:39] mariacarmina commented on #162
agreed.

[2021-02-25 09:40] trentmc commented on #162
Please hold off on updating developers.md, I want to get in Akshay's PR. I'm working on it right now.
https://github.com/oceanprotocol/ocean.py/issues/162

I'll keep you posted here.

[2021-02-25 09:49] trentmc opened #164 "Introduce local codacy flow"
**Is your feature request related to a problem? Please describe.**
[This PR on developers.md](https://github.com/oceanprotocol/ocean.py/pull/145) had [codacy test failures](https://app.codacy.com/gh/oceanprotocol/ocean.py/pullRequest?prid=6996426).

It made me realize that we don't currently have a flow to run codacy locally. Having that would allow much more rapid iterations.

**Describe the solu

[2021-02-25 09:50] trentmc commented on #164
High priority because it makes tox think things fail

[2021-02-25 09:50] trentmc commented on #162
OK, it's merged, please go ahead

[2021-02-25 10:00] trentmc commented on #113
Note: @akshay-ap had made some great changes so far, so to help move briskly in master, I just merged them.
https://github.com/oceanprotocol/ocean.py/commit/25c6aeec292109e3d393b4f1c25354c0a694d35f

[2021-02-25 10:01] trentmc commented on #162
Great start. PR 163 (now merged) didn't have a unit test; it should.

[2021-02-25 10:49] trentmc commented on #154
Fixed with https://github.com/oceanprotocol/ocean.py/commit/32ca223175aacd4c545de6fc37d80655175ef64a

[2021-02-25 10:59] trentmc opened #166 ""--with-provider2" flag apparently needed on barge. If we really do need it, fix docs. If no, deprecate the need"
## Problem
Until recently, we could run unit tests with barge without any special flags. But I ran into issues, reported eg in #162. Calina noted that in order to give any chance of working, I needed it to have "--with-provider2" flag.

To be precise, the current "recommendation" to test things locally is:
* Follow steps 1-5 of developers.md, choosing barge steps; except in step 2, make sure barge

[2021-02-25 11:01] trentmc commented on #157
Agreed.

I just realized that since that's a different issue than *this* issue, I created a new issue. #166

So now we can close *this* issue.

[2021-02-25 11:01] #157 closed

[2021-02-25 11:06] trentmc opened #167 "Deprecate 'Makefile', it's obsolete"
**Is your feature request related to a problem? Please describe.**
"Makefile" in the main directory seems to be obsolete. Being there confuses things.

Note that there's also a sub-directory with "docs", and their own Makefile. We don't currently use those, though we could in the future, either for api reference or more generally for "readthedocs" [related epic](https://github.com/oceanprotocol/mu

[2021-02-25 11:10] kremalicious commented on #166
yup, basically 2 solutions, either:

1. make `--with-provider2` a default option in barge, effectively deprecating that (undocumented) option there
2. update all repo READMEs where barge is a requirement for running tests with that option, and document that option in barge README

We should probably discuss this over on barge, but from what I can see the `--with-provider2` is only there to workaro

[2021-02-25 12:14] trentmc opened #168 "Deprecate 'setup.cfg' if appropriate"
**Is your feature request related to a problem? Please describe.**

ocean.py has both setup.cfg and setup.py. From what I know, you only need one (setup.cfg for static, setup.py for more dynamic setup). Put another way: do we actually need setup.cfg, or can we deprecate it?

BTW setup.cfg only had one real commit ever, in June 2020. Calina did a change recently but that was part of a more global h

[2021-02-25 15:16] trentmc commented on #113
I just merged in https://github.com/oceanprotocol/ocean.py/commit/da350f3ab4d1df20cfe85220d97c343f78c30322, which streamlines the flow further, to be barge-only. And it has a couple tweaks to avoid barge gotchas.

[2021-02-25 15:20] trentmc commented on #166
Update: so that at least people using developers.md aren't stranded, I added `--with-provider2` to its instructions as part of commit https://github.com/oceanprotocol/ocean.py/commit/da350f3ab4d1df20cfe85220d97c343f78c30322 (towards #113 better dev instructions).

[2021-02-25 16:09] mariacarmina commented on #162
`docker system prune -a --volumes` can be used when you want to update the barge, but it's correct, too. To simply erase the docker images (like a fresh restart), you can also use `docker rm $(docker ps -a -q)`, as far as I know.

[2021-02-26 10:43] #162 closed

[2021-02-26 10:47] trentmc commented on #162
Glad to see that the tests are in there now. +1

[2021-02-26 13:22] trentmc opened #172 "Get all pre-commit issues passing"
**Is your feature request related to a problem? Please describe.**
Calina recently intro'd the optional use of the [pre-commit tool](https://pre-commit.com/) into developers.md. It's cool!

If you use it when you're doing a commit, it will check the files that you've changed in your commit.

However you can also run it against the whole existing codebase via:
[code]

I tried this! It changed about

[2021-02-26 13:49] trentmc commented on #121
Codacy docs show [how to create badges](https://docs.codacy.com/repositories/badges/).

How: in codacity.com, go to repo's settings page, scroll to the bottom, generate a badge, and copy the code. [Here's the ocean.py page](https://app.codacy.com/gh/oceanprotocol/ocean.py/settings).

So I did this! And I added the badge into ocean.py's README, in this commit: https://github.com/oceanprotocol/ocean

[2021-02-26 13:52] trentmc commented on #121
Towards the actual issue at hand, it appears that we can get [Codacy to generate coverage reports](https://docs.codacy.com/coverage-reporter/generating-coverage-reports/). That page links to using the `coverage' tool for python, which is already in setup.py's list of imports for dev tools. If the report is properly generated, perhaps Codacy will give us a badge for it.

[2021-02-26 16:34] trentmc opened #174 "Get all codacy issues passing"
**Is your feature request related to a problem? Please describe.**

Codacy does linting other tests.
- It auto-runs remotely.
- And we can now run locally too, as of #164 :) [Here's the PR](https://github.com/oceanprotocol/ocean.py/pull/169/files).

[This Codacy ocean.py dashboard](https://app.codacy.com/gh/oceanprotocol/ocean.py/dashboard) reports *many* issues in ocean.py.
- One subset is from [

[2021-02-26 16:40] trentmc commented on #174
High priority because it makes tox think things fail

[2021-02-26 17:10] #164 closed

[2021-02-27 06:16] trentmc opened #175 "Fix licensing info: put Copyright & SPDX identifier at top of each file"
**Is your feature request related to a problem? Please describe.**
Some files in the codebase don't have copyright or SPDX license info. [They should have it, here's why](https://spdx.github.io/spdx-spec/appendix-V-using-SPDX-short-identifiers-in-source-files/).

**Describe the solution you'd like**
Each file should have copyright & SPDX license info at the top looking like:

[code]

[2021-03-01 10:15] calina-c commented on #146
Assigning this to Alex, since he already started on the new checks.

[2021-03-01 10:52] calina-c commented on #168
Investigating.

[2021-03-01 11:19] calina-c commented on #168
@trentmc I'm partial to the idea of using setup.cfg to configure helper tools, such as isort, flake, black and pytest (all only required in development), while keeping setup.py unaware of those options, for "real" environments. Does that make sense?

[2021-03-01 11:28] trentmc commented on #168
setup.py has sections for different environments. "development" is one of them. Is it possible to use it for helper tools? What's better?

BTW it seems that the py community isn't at consensus about this. For example:
https://stackoverflow.com/questions/39484863/whats-the-difference-between-setup-py-and-setup-cfg-in-python-projects

The main thing is to pick _a_ way, and then make sure our repos d

[2021-03-01 11:32] calina-c commented on #155
Done for all 3 repos: ocean.py, aquarius and provider. Added DockerHub rules and started image builds from the new branch. Everyone should please remember to update their local settings.

[2021-03-01 11:41] calina-c commented on #168
So I should add something like this to the docs? https://stackoverflow.com/a/46090408/14214722

[2021-03-01 12:56] trentmc commented on #168
That comment's line of thinking is ok with me. We probably don't need it in the docs. Perhaps instead just at the top of setup.cfg, write "Here is how we view setup.cfg vs setup.py: https://stackoverflow.com/a/46090408/14214722"

And that's it, we can close this issue:)

[2021-03-01 14:15] trentmc commented on #155
@calina-c are there any remaining steps to close this?

[2021-03-01 15:23] #175 closed

[2021-03-01 17:27] calina-c commented on #155
Just discovered a reference in the bumpversion script. I will do that tomorrow.

[2021-03-02 00:14] alexcos20 commented on #166
--with-provider2 is needed on barge if you want to test compute to data with an asset served by provider1 and an algo served by provider2

Not sure if we need this as default in barge (unless we decide that barge is used mostly for our integration tests)

[2021-03-02 06:40] trentmc commented on #95
I was going down a path of pointing to urls. Then I had a super useful call with @ssallam yesterday about how ocean-contracts are created and used as a python library. Some  surprising behavior. Towards fixing that behavior, I created [MultiRepo#83](https://github.com/oceanprotocol/multi-repo-issue/issues/83). It's a _multi-repo_ issue because there will be changes in both `ocean-contracts` repo a

[2021-03-02 07:21] calina-c commented on #172
All the pre-commits have been run first on the entire codebase and both black and flake8 are required checks as GitHub actions. The reason for the pre-commit is so that you already have a local way of bumping into potential problems from the GitHub actions checks. This means that the failures you found are due to people not using pre-commit before (it was in the docs), merging branches without pas

[2021-03-02 08:01] trentmc opened #179 "release process has 11 steps, making it cumbersome"
**Is your feature request related to a problem? Please describe.**

Thanks to #118, ocean.py's release process is now documented, in https://github.com/oceanprotocol/ocean.py/blob/main/READMEs/release-process.md

But it has 11 steps! This makes it cumbersome.

We can do better. For example, the [release process in ocean.js](https://github.com/oceanprotocol/ocean.js#-production) has automated most

[2021-03-02 08:03] trentmc commented on #118
I moved this to a new issue: #179. Therefore we can close _this_ issue.

[2021-03-02 08:03] #118 closed

[2021-03-02 08:12] trentmc opened #180 "No documentation on developing with Django"
**Is your feature request related to a problem? Please describe.**

"Use case: I'm a developer building a Django app and want to publish an asset. There's not a single example or instruction in this repo on how to do that. There's a docs folder but nothing helping in there." (from @kremalicious, originally in #113)

**Describe the solution you'd like**
Address the issue above. (See possibilities i

[2021-03-02 08:12] trentmc commented on #180
Using django means a webapp running ocean.py server-side. It's much safer to run ocean.js client-side (in the browser).

Therefore (imo) _this_ issue is lower priority.

*Or*, maybe solving it is simply to put into ocean.py docs: "if you're thinking of doing a webapp with django, we recommend instead to use ocean.js because it can be run the browser without any custodial issues".

Thoughts, @krema

[2021-03-02 08:18] trentmc opened #181 "'example' folder doesn't do much; either delete or flesh out"
**Is your feature request related to a problem? Please describe.**
ocean.py code has an `example/` folder but there's only an example how to structure metadata. This is kinda weird, and potentially confusing to new developers.

Related: the marketplace quickstart has an implicit metadata example. And there are unit tests on metadata.

**Describe the solution you'd like**

Here are some potential w

[2021-03-02 08:29] calina-c opened #182 "Ocean.py: Reformat markdown files to pass Codacy scrutiny"
Codacy uses markdown linting and formatting with a configured [remark](https://github.com/remarkjs/remark-lint) utilitary.
Here is the exact configuration: [link](https://github.com/codacy/codacy-remark-lint/blob/master/.remarkrc.js)

This means that by using the same reformatter on markdown files, Codacy analysis should pass with flying colors, at minimal effort for the developers (just run a com

[2021-03-02 09:00] trentmc commented on #113
Today I cleaned up the description, clarifying between (a) devs just using ocean.py and (b) devs working to improve ocean.py code itself (in developers.md).

Turns out that (b) is in much better shape now. After many iterations by @akshay-ap and me.

To handle (a), I reassigned the issue to myself. Now that we have a simple flow for developers, we can propagate things back to users. I plan to move

[2021-03-02 09:01] #155 closed

[2021-03-02 09:01] #168 closed

[2021-03-02 09:01] #182 closed

[2021-03-02 09:14] alexcos20 commented on #146
done

[2021-03-02 09:14] #146 closed

[2021-03-02 09:17] trentmc commented on #95
S: To update the packaging logic to omit the tests.

T: Where to ignore?

S:
[code]
then take a look inside the build folder

[2021-03-02 10:13] trentmc commented on #146
Having this done makes me especially happy:)

[2021-03-02 10:19] trentmc commented on #95
Note to self on setup.py's `packages` variable:

What it currently has: `['ocean_lib', 'ocean_lib.web3_internal', 'ocean_lib.web3_internal.web3_overrides', 'ocean_lib.web3_internal.test', 'ocean_lib.data_provider', 'ocean_lib.data_store', 'ocean_lib.assets', 'ocean_lib.models', 'ocean_lib.ocean', 'ocean_lib.test']`

What it _should_ have: `['ocean_lib', 'ocean_lib.web3_internal', 'ocean_lib.web3_i

[2021-03-02 11:39] kremalicious commented on #166
ok, then it sounds like we want to go with [option 2](https://github.com/oceanprotocol/ocean.py/issues/166#issuecomment-785816504), updating barge & libraries READMEs. Would still advocate for naming that option based on what it is intended to be used for, like `--test`.

Then we can document it maybe like so:

[code]

[2021-03-02 11:54] kremalicious commented on #180
depends on what we think ocean.py is for. Building web apps with Python/Django seems an industry-standard, and telling someone to use another tech stack completely raises the question what ocean.py then can actually be used for. Not aware of how exactly this works in Python world with interaction with user wallets in a browser. But if we think ocean.py can be used in a Python/Django app we should

[2021-03-02 12:21] trentmc commented on #180
The main use case for ocean.py is data science use cases. Not webapps.

[2021-03-02 13:22] ssallam commented on #166
resolution: keep this option as is and document it in Barge.

[2021-03-02 13:26] #121 closed

[2021-03-02 14:42] trentmc opened #185 "create_data_token() fail when addresses not specified"
## Describe the bug

The following configuration fails:
- using barge
- import ocean.py (vs git clone)
- no config.ini file, just `NETWORK_URL=ganache`. Note that location of addresses artifacts is _not_ specified, with the expectation that there be good defaults.
- trying to do simple quickstart functionality

This was first discovered during work on #113, in [this PR](https://github.com/oceanpro

[2021-03-02 14:46] trentmc commented on #166
New issue created for that: [barge#233](https://github.com/oceanprotocol/barge/issues/233)

So we can close this issue.

[2021-03-02 14:46] #166 closed

[2021-03-02 14:50] trentmc commented on #113
WIP to handle (a) is in [this branch](https://github.com/oceanprotocol/ocean.py/pull/184).

[2021-03-02 15:11] trentmc commented on #185
Branch: https://github.com/oceanprotocol/ocean.py/tree/issue185-barge-n-imported

[2021-03-03 06:56] alexcos20 opened #186 "Refactor DT Order handling"
see [Refactor DT Order handling Epic)(https://github.com/oceanprotocol/multi-repo-issue/issues/85) for details

[2021-03-03 07:24] alexcos20 commented on #186
ignore it please

[2021-03-03 07:34] trentmc opened #187 "black is too enthusiastic "would reformat /github/workspace/setup.py""
**Is your feature request related to a problem? Please describe.**
Remote black test fails with error message `"would reformat /github/workspace/setup.py"`.

This a problem because then the remote CI in general thinks things have failed. And it shouldn't think so.

Final datapoint: if I run black locally, there are no issues / it doesn't fail. Local doesn't have the /github/ directory.
[code]

**D

[2021-03-03 07:48] trentmc commented on #95
Finished main work in commit https://github.com/oceanprotocol/ocean.py/commit/39f8a92b9b30defb2bacc2788c63a08d4afd455e

Now only pip remains, if we choose to do it here.

[2021-03-03 08:03] trentmc opened #188 "'Connection reset by peer' issues in travis/tox testing"
**Is your feature request related to a problem? Please describe.**
I was working on [this PR](https://github.com/oceanprotocol/ocean.py/pull/171) for ocean.py (for #95). The remote Travis/tox tests are getting failures that look like maybe `provider` issues.

E.g. line 19316+ gives:
[code]

Here's the full log: https://travis-ci.com/github/oceanprotocol/ocean.py/builds/218812471

My changes were n

[2021-03-03 08:05] trentmc commented on #187
Marking this as a `bug` and `high priority` because it shouldn't be happening, and it gets in the way of our ability to test with confidence (and therefore make progress in general in ocean.py).

cc @calina-c

[2021-03-03 08:08] calina-c commented on #188
@mariacarmina I think I've seen this on ocean.py on your branch before we made the testing fixes (for validation error response from compute jobs), but I'm not sure. Let's check this after we merge the secure algo branch.

[2021-03-03 08:21] trentmc commented on #144
I'm done ocean.py #95 now. However it didn't make changes that would have affected the outcome here.

But, the learnings from that led to issue [MultiRepo#83](https://github.com/oceanprotocol/multi-repo-issue/issues/83). It points to a brittleness in how artifacts might get imported in some environments. You're running Windows, so there's a good chance that it does things a little differently. I'l

[2021-03-03 08:47] trentmc commented on #95
Don't need to do it here. Closing.

[2021-03-03 15:16] trentmc commented on #95
I spoke too soon. We _did_ make changes to the code: removing the `artifacts/` directory. That definitely needs a new deploy to pip, with a quick readiness to revert in case it fails.

[2021-03-04 09:52] akshay-ap commented on #179
For release steps here: https://github.com/oceanprotocol/ocean.py/blob/main/READMEs/release-process.md.
1. I think steps 1 to 5  can be automated with a shell script.
2. We can use this lib to generate change log https://github.com/KeNaCo/auto-changelog.
What do you think @kremalicious  @ssallam?

[2021-03-04 09:58] trentmc opened #191 "Improve common-util: deprecate, or test it better"
The repo `common-util` is used by other Ocean python repos. Currently it doesn't have much for tests, though it has been stable for >1 year with basically no change.

Samer's indicated that we might be able to deprecate it. If we can (with minimal complexity add elsewhere), great, let's do that. Call that scenario (1).

But if it makes more sense to keep it around, we should make it more robust by

[2021-03-04 09:58] trentmc opened #226 "Move common-util & plecos into ocean.py, test better, do basic cleanups"
[common-utils-py](https://github.com/oceanprotocol/common-utils-py)  has its own pypi version, which makes maintenance a pain.

TODOs for this issue:
- [x] move common-utils into ocean.py/common
- [x] copy/repurpose tests from common-utils
- [x] do the low hanging fruit sw eng on common-utils

[2021-03-04 09:59] trentmc commented on #191
FYI @ssallam @calina-c

[2021-03-04 11:40] kremalicious commented on #179
sure, whatever works and backend team agrees upon, since it should be standardized across all backend repos in the end.

As for steps, just some input: on the js repos we automate away [a lot of the steps](https://github.com/oceanprotocol/ocean.js#%EF%B8%8F-releases) and changelog is just one step. This is done with a library [release-it](https://github.com/release-it/release-it) and ideally we fi

[2021-03-04 12:23] trentmc commented on #188
Labeled high priority because it means builds that should pass, don't pass. Hurts our ability to progress the code.

[2021-03-04 13:50] Akif-G commented on #101
@trentmc

We can use Jupyter Notebooks. Github Supports markdown and its executable.

[2021-03-04 15:33] trentmc commented on #101
I don't understand how Jupyter would refer to specific sections of code that get auto-updated.

I just googled around. This is more what I was hoping would exist - it seems that it does:)

https://github.com/BurdetteLamar/markdown_helper#whats-a-markdown-helper

"File inclusion: to include text from other files, as code-block or markdown."

[2021-03-04 15:54] trentmc commented on #101
More comments.

I like Jupyter. But I'm on the fence whether we should use it here.
For this, I see it as a tradeoff of: extra friction to go to Jupyter (vs Github readme), versus how much better experience the user has once in Jupyter (vs readme). (edited)

Here's a couple datapoints to compare
- scikit learn: https://scikit-learn.org/stable/modules/linear_model.html#lars-lasso
- tensorflow: http

[2021-03-05 05:57] trentmc opened #194 "bumpversion.sh VersionNotFoundException in setup.py"
**Describe the bug**
I got a VersionNotFoundException while trying to use bumpversion.sh as part of release process

**To Reproduce**

Go through the steps in release-process.md. One of the first steps is to make a call to `./bumpversion.sh`.

I called it with the "patch" sub-argument. It gave me this traceback:
[code]

There were no changes made to setup.py or otherwise.

**Expected behavior**

-

[2021-03-05 06:00] #194 closed

[2021-03-05 06:01] trentmc commented on #194
The fix of changing from double quotes to single quotes works because the py file called by bumpversion.sh only looks for single quotes.

[2021-03-05 07:28] trentmc commented on #194
Commit 1/2, above (https://github.com/oceanprotocol/ocean.py/commit/4cd04ae895df12dc61ba8e6a17f8c3002ff1d0e8) led to complaints by black and flake8.

Commit 2/2, done just now (https://github.com/oceanprotocol/ocean.py/commit/ab8745a6d4ebe4ef7c67ce3da8e7e6ec3acce5de) fixes those.
- for flake8, added "noqa : .." to the line
- black, annoyingly, doesn't do per-line exceptions. However you can get it

[2021-03-05 08:17] trentmc commented on #95
Deployed to pip now.

[2021-03-05 08:17] #95 closed

[2021-03-05 09:37] trentmc commented on #185
Here's a flow that _did_ work. Main fix: it knew where to look for address files, because the config.ini specified them.

**Run the services.** In a new console:
[code]

**Create config.ini file.**
Create a file called `config.ini` and fill it as follows. Note that `ganache` value does _not_ have quotes around it (that would cause errors).
[code]

**Install the library; set envvars.** In a new con

[2021-03-05 10:05] trentmc commented on #185
Also what doesn't work, is like the above comment except:

When setting envvars, also have:
[code]

In python console, value of `config` variable uses what's supposed to be a default looking at CONFIG_FILE:
[code]

[2021-03-05 12:02] akshay-ap commented on #179
@kremalicious I am thinking of generating the changelog and automating the release process through a script like this:
https://github.com/akshay-ap/ocean.py/blob/feature/release-process/release.sh.

Sample generated from the script: https://github.com/akshay-ap/ocean.py/blob/feature/release-process/CHANGELOG.md

The script is not yet complete. It is just to show how I plan to do it.

[2021-03-05 12:31] trentmc commented on #113
(a) is done via commit https://github.com/oceanprotocol/ocean.py/commit/a246fe4ee5515bb63d457660df9e71554161678b

[2021-03-05 12:35] trentmc opened #200 "For users of ocean-lib with ganache, getting fake OCEAN adds friction"
**Is your feature request related to a problem? Please describe.**
I just streamlined the README quickstarts for simple flow and marketplace flow, as part (a) in #113. They're much simpler than before.

But the marketplace flow still has a specific pain point: getting fake OCEAN into ganache. To do so, the user needs to `git clone` the ocean.py repo then run `deploy.py ganache`

It would be way be

[2021-03-05 12:37] trentmc commented on #113
Note: (a) would be better yet with the new issue I just reported: #200. "For users of ocean-lib with ganache, getting fake OCEAN adds friction". Beyond scope of this ticket.

And we can do _much_ better yet with readthedocs style documentation. [MultiRepo#80](https://github.com/oceanprotocol/multi-repo-issue/issues/80). Beyond scope of this ticket.

@kremalicious are you satisfied for this ticket

[2021-03-05 13:14] calina-c opened #201 "Deprecate SQL statements"
**Is your feature request related to a problem? Please describe.**

SQL statements are obsolete as of Ocean V3. So deprecate them.

(Rather than: Right now, we are using raw SQL for statements in ocean_lib/data_store/auth_tokens.py. This is flagged as a potential security risk, via SQL injection. And suggested solution:  We should move to using Flask SQL Alchemy instead.)

**Describe the solution

[2021-03-05 13:16] calina-c commented on #174
Created https://github.com/oceanprotocol/ocean.py/issues/201 for the last issue that wasn't discussed.
As agreed with Trent, we are keeping the static/"self not used" warnings until we upgrade to a correct version of the code, that is aware of the instance and network being used (cross-chain).

[2021-03-05 14:14] trentmc opened #202 "[EPIC] singletons for Web3Provider and more is surprising, non-standard, and won't work for multi-chain"
**Is your feature request related to a problem? Please describe.**

Status quo: ocean.py has these singletons, via class-level attributes:
1. Web3Provider. Pointer to web3 provider: `ocean_lib/web3_internal/web3_provider.py:Web3Provider` with attribute `_web3` stored at _class_ level. Which makes it a singleton.
2. ContractHandler. The class `ocean_lib/web3_internal/contract_handler.py:ContractHan

[2021-03-05 14:42] trentmc opened #203 "AssertionError: The given network_url *'ganache'* ..."
**Describe the bug**
If I use the default config.ini with barge, it complains with the traceback below.

**To Reproduce**

1. Do steps 1-3 in developers.md (Install dependencies, Run the services, Set up contracts)
2. Then open a python console and try the following. The last line will fail.

[code]

Note: all pytest tests _do_ pass.

**Expected behavior**
The last line not to fail. While all pyte

[2021-03-05 14:47] kenbodnar commented on #203
I had that issue, but it wasn't a code issue, it was a config issue. Unfortunately, I can't remember how I solved it now.

[2021-03-05 14:49] trentmc commented on #203
No worries, I have a quick solution too, I'm just documenting thoroughly. You'll see.

[2021-03-05 14:55] #203 closed

[2021-03-05 15:07] trentmc opened #205 "create_data_token() fail when using default CONFIG_FILE value, looks like artifacts issue"
**Describe the bug**

The following configuration fails:
- using barge
- import ocean.py (vs git clone)
- a config.ini file that includes location of  addresses artifacts is _not_ specified
- exported CONFIG_FILE ennvar as config.ini
- in py code, do _not_ specify the location of config file (it's supposed to use CONFIG_FILE envvar)
- trying to do simple quickstart functionality

Error:
[code]

**

[2021-03-05 15:36] trentmc commented on #144
Update: today we greatly updated the quickstarts for using ocean.py. There's a good chance that your issue will go away. However I won't close this issue until we've done MultiRepo#83.

[2021-03-06 12:28] ssallam opened #207 "signing requests always uses nonce from the config provider instead of the target provider"
**Describe the bug**
When making a request to the provider such as download/compute, the consumer signature is required. The signature is created using a message such as did and a nonce that is obtained from the provider.
Currently the nonce is always fetched from the provider that is defined in the config. The correct way is to get the nonce from the target provider, i.e. the provider from the se

[2021-03-08 10:29] calina-c commented on #181
I incline towards 1. The purpose of the "garden path" is to have developers learn. It's much more likely that they pay attention to what they paste as an example, as opposed to having the examples readily made. We want them to derive new inputs, not use "templates". That's my 2c, but of course either one of these options can be argued for.

[2021-03-08 10:31] calina-c commented on #167
It seems the Makefiles were used for Sphinx documentation, not the actual build. However, Sphinx seems to run perfectly fine without them, too.

[2021-03-08 11:40] calina-c commented on #174
The final batch of ignored issues (unused `self`) will take after the next `main` branch merge and build. The raw SQL warning is moved do a different ticket. So this can be closed.

[2021-03-08 11:40] #174 closed

[2021-03-08 12:19] #207 closed

[2021-03-09 07:46] calina-c opened #211 "Move existing ocean.py tests"
See epic description for more details. This issue covers the following tasks:

- [x] Move directory ./tests/models/ to ./ocean_lib/models/tests and make it work
- [x]  Move test file ./tests/web3_internal/test_wallet.py into ./ocean_lib/web3_internal/test directory and make sure runs & passes; deprecate ./tests/web3_internal directory
- [x] For each test file in ./tests/ocean: move it into an appr

[2021-03-09 10:20] trentmc commented on #181
yes

alright. let's do this then.

FYI it's less painful now, I've merged many py snippets into much larger chunks, and simply used python `#` comments to help demarcate what's going on.

[2021-03-09 10:21] trentmc commented on #167
Thanks for digging and for the info. So we can delete then? :)

[2021-03-09 12:01] calina-c opened #213 "Document and adjust existing ocean.py tests"
To document:
- [x] test_ocean_assets.py
- [x] test_data_service_provider.py
- [x] test_balancer_core_direct_flow.py
- [x] test_balancer_simple_for_users_flow.py
- [x] test_bfactory.py
- [ ] test_bpool.py -> almost done, uncertainties with join/exit in/out combinations for pools
- [x] test_btoken.py
- [x] test_datatoken.py
- [x] test_ddo.py
- [x] test_dtfactory.py
- [x] test_fixed_rate_exchange.py

[2021-03-09 12:05] calina-c opened #214 "Several ocean.py modules don't have have test files"
TODO for this issue: make sure that there _is_ a test file for each module.

Note: this is a sub-issue of the epic in #149. The epic gives a more thorough description / context.

[2021-03-09 13:21] #144 closed

[2021-03-09 13:24] #113 closed

[2021-03-09 13:31] ssallam commented on #188
https://github.com/oceanprotocol/provider/issues/114

[2021-03-09 13:31] #188 closed

[2021-03-09 13:36] trentmc commented on #200
Suggested approach: in barge, have an extra option to run "python deploy.py ganache"

[2021-03-10 15:07] #211 closed

[2021-03-10 15:40] #187 closed

[2021-03-10 15:40] #181 closed

[2021-03-11 13:17] calina-c opened #217 "Improve ocean.py test coverage to 90%"
Files that need more coverage:
- [x] ocean_lib/assets/asset_downloader.py -> handled as part of https://github.com/oceanprotocol/ocean.py/pull/215
- [x] ocean_lib/config.py -> got to 89% but some logic will change soon
- [x] ocean_lib/data_provider/data_service_provider.py
- [x] ocean_lib/example_config.py

## Models
- [x] ocean_lib/models/algorithm_metadata.py
- [x] ocean_lib/models/bpool.py
- [x

[2021-03-11 14:03] #213 closed

[2021-03-12 06:21] trentmc commented on #185
Heres's how to reproduce the above buy in an ocean.py clone (rather than imported ocean.py)

### 1.2 Do Install

(like developers.md)

In a console:

[code]

## 2. Run the services

(like developers.md)

Use Ocean Barge to run local Ethereum node with Ocean contracts, Aquarius, and Provider.

In a new console:

[code]

## 3. Set up contracts

(Like developers.md, except (a) do _not_ set CONFIG_FIL

[2021-03-12 06:34] trentmc opened #220 "issue: contract_handler.py has duplicates of tests"
**Is your feature request related to a problem? Please describe.**

There are now two files tor testing contract_handler.py:
- test_contract_handler_abi_paths.py
- test_contract_handler_addresses.py

These files were recently created from a single file. But the new files inadvertently duplicated code:
[code]

**Describe the solution you'd like**
Remove duplicates.

[2021-03-12 06:41] trentmc commented on #220
Duplicates:
[code]

[2021-03-12 07:18] trentmc commented on #200
For option 3, here's code from ~/conftest.py that can help:
[code]

[2021-03-12 08:28] #220 closed

[2021-03-12 08:37] trentmc commented on #202
Note: doing this will help to prevent issues like #185 and #205 in the future

[2021-03-15 14:26] Akif-G commented on #8
@trentmc
https://github.com/oceanprotocol/datascience-scripts gives 404 right now. datascience-scripts repo is deprecated.

[2021-03-15 17:02] trentmc commented on #8
And that's fine. They weren't needed and aren't needed here. All we need is a single new README like #101 discusses.

[2021-03-16 09:31] trentmc opened #225 "Move plecos, do basic cleanups"
[plecos](https://github.com/oceanprotocol/plecos) has its own pypi version, which makes maintenance a pain.

TODOs for this issue:
- [x] investigate move plecos into ocean.py/plecos or aquarius/plecos
- [x] copy/repurpose tests from plecos
- [x] rename "plecos" -> something else, anything else
- [x] do the low hanging fruit sw eng on plecos
- [x] (optional) Improve unit tests to get >90% coverage

[2021-03-16 11:42] trentmc commented on #225
@ssallam can you give your thoughts on scenario (1) vs (2) in the description, please?

[2021-03-16 11:42] trentmc commented on #226
@ssallam can you give your thoughts on scenario (1) vs (2) in the description, please?

[2021-03-16 13:06] #167 closed

[2021-03-16 13:39] trentmc opened #227 "Non-blocking nature of calls hurts DX/maintenance. So, use blocking"
**Problem**
In debugging issue #185 and #205, I would have found errors sooner if it was clear that the tx did not go through. For those: there was a call to create a datatoken, but the tx did not work.

In other cases, the tx may work but there could be non-negligible network latency until the tx goes through.

The general challenge: the developer needs to muck around to know if the tx is done, w

[2021-03-16 16:32] trentmc opened #228 "data_token.py ERC20 functionality doesn't reflect ERC20 interface"
**Problems**

Datatokens implement the ERC20 interface, and tack on a couple more pieces of functionality.

This is exactly the case in the smart contract level: [DataTokenTemplate inherits ERC20](https://github.com/oceanprotocol/contracts/blob/master/contracts/templates/DataTokenTemplate.sol). Good.

But [data_token.py](https://github.com/oceanprotocol/ocean.py/blob/main/ocean_lib/models/data_tok

[2021-03-16 18:28] trentmc commented on #167
Note: this was deleted in https://github.com/oceanprotocol/ocean.py/commit/c661ee65548d72209a4daf574fe67bf81df7d1f2

[2021-03-16 18:35] calina-c opened #229 "References to aquarius_url & metadata_store_url are inconsistent; replace with metadata_cache_uri everywhere"
There are multiple references inside ocean.py to metadata_store_uri and aquarius_url, and they are loaded from the same configuration option, called aquarius_url. However, the user can supersede these with metadata_cache_uri. Currently we have 3 names for the same thing, or things that are very similar, and it is confusing to users and code maintainers.

**Solution**
Settle on one of these and adj

[2021-03-16 18:41] calina-c opened #230 "Non-specific errors hinder maintenance"
Right now, ocean.py throws a lot of generic `AssertionError` or even plain `Exception`. This is cumbersome to track, since a _plain_ Exception can show up with things unrelated to what someone is trying to test.

**Solution**
Reuse more specific errors from libraries we are already requiring.

**Alternatives and additional context**
- @trentmc suggested we do NOT over-specify and write custom exce

[2021-03-16 18:50] calina-c opened #231 "Base 18 conversions"
There are currently inconsistencies in the handling of large integers. Smart contracts use big integer number representation and multiply a number with 10^18 in order to properly represent it. Ocean.py is inconsistent in dealing with this representation, sometimes showing end-users the "long" number and internally using the short version etc.

**Solution**
Everything related to internals should be

[2021-03-16 18:57] calina-c opened #232 "Restart function in OceanCompute is either obsolete or broken. So deprecate or adjust."
A couple of weeks ago, we had updates on the `start` function, allowing for multiple inputs. However, we overlooked the fact that the `restart` function also needs to be updated. Right now, the function itself is BROKEN (it calls on a function which has different parameters, so there is always an Exception thrown). That is bad. Updating it will most likely BREAK the interface and we need to releas

[2021-03-17 07:31] trentmc commented on #229
@calina-c fyi I updated the description for which name to change to

[2021-03-17 08:29] trentmc commented on #231
Yes x 10.

What can help as a step towards this:
- revive dynamic type checking (#37)
- then aggressively add in type hints on all values passed relating to OCEAN, ETH and datatokens. The "long" format (base 18) is always an int, and "short format" is always a float. This will weed out issues.

Also what can help as a step towards this:
- Fix ocean.py "data_token.py ERC20 functionality doesn't ref

[2021-03-17 12:18] trentmc commented on #185
This PR https://github.com/oceanprotocol/ocean.py/pull/222 is a step towards solving this issue.

I will revisit _this_ issue after the following get addressed: mutl-repo-issue#83, #202, #227. After those, _this_ issue may be super simple.

[2021-03-17 22:49] DMats opened #234 "DataTokenTemplate address undefined in ocean.py quickstart simple workflow"
I got a KeyError while running the ocean.py quickstart simple workflow. I suspect that I'm missing an env variable.

Python output

[code]

Barge output:

[code]

[2021-03-17 23:09] DMats commented on #234
When I install `ocean-lib` inside my venv, the `address.json` file is installed at `venv/artifacts/address.json`

Thus, I think the simple workflow instructions should be edited like so (minus the backslashes '\'):

[code]

[2021-03-18 08:20] alexcos20 opened #235 "Check file info before publishing"
While publishing an asset, ocean.py should use the fileinfo endpoint on provider, in order to make sure that your asset's files are reachable.  (ocean.js is already doing that)

[2021-03-18 10:41] alexcos20 opened #236 "Is ocean.py compatible with aquarius 2.2.5 ?"
As we started rolling out aqua 2.2.5 (already deployed on ropsten), we should make sure that ocean.py is compatible)

[2021-03-18 10:56] trentmc commented on #234
I just deleted my barge, deleted `~/.ocean`, and went through the whole quickstart README flow. It worked for me.

You shouldn't have to get it to point to `path/to/venv/artifacts` because running barge should populate `~/.ocean/ocean-contracts/artifacts`.

To proceed: do you have a `~/.ocean` directory? If not, try re-doing the barge part of the README. Then, do you?

For convenience, here's the

[2021-03-18 11:51] trentmc commented on #202
Preliminary investigation shows that this will break the interface, unless we resort to global variables (and even then it may break the interface; plus we've introduced other global variables!).

Therefore defer this to V4. (Work will start soon anyway, so ok!)

[2021-03-18 13:28] DMats commented on #234
@trentmc I deleted barge and double-checked that I didn't have `~/.ocean` directory. I then re-ran the barge part of the README. There were no errors in the `start_ocean.sh` output and the warnings seemed innocuous. Yet, once it settled, I did not have an `~/.ocean` directory.

I've attached my [start_ocean.sh output](https://app.zenhub.com/files/266274883/548889b2-d452-4389-a911-e9dd5937ff47/down

[2021-03-18 14:08] ssallam commented on #236
Findings:
- search in ocean.py is currently broken
- aquarius query endpoint is too restrictive (https://github.com/oceanprotocol/aquarius/issues/416)
- ocean_util is not updated to reflect the new query interface in aquarius (https://github.com/oceanprotocol/common-utils-py/issues/25)
- query tests in ocean.py are not sufficient

[2021-03-18 14:26] trentmc commented on #234
Thanks for the info.

As an aside, we have the following related github issues: #185 and #205 raise a similar error but for different configurations. And [multi-repo#83](https://github.com/oceanprotocol/multi-repo-issue/issues/83) is to get a better location for the addresses.

However for your issue, it really should be using the `~/.ocean` directory. At least according to my understanding of bar

[2021-03-18 14:27] trentmc commented on #234
@alexcos20 I have a Q for you: when barge is run, ie via `./start_ocean.sh  --with-provider2`, does it auto create the `~/.ocean directory`?

[2021-03-18 14:29] #142 closed

[2021-03-18 16:02] trentmc commented on #234
I just double-checked to see if barge auto-creates the `~/.ocean` directory, as follows.

1. delete `barge` directory
2. move old `~/.ocean` directory to `~/.ocean-old`
3. `cd; ls -lsart`. This shows the contents of the directory with most recent changes at the bottom. It shouldn't display `./ocean` of course
4. open a different console, and re-get barge going:

[code]

5. In original console: `cd

[2021-03-18 16:04] DMats commented on #234
Sure. I'll do this now and record the results here when I'm done.

[2021-03-18 16:13] DMats commented on #234
@trentmc barge does not create the `~/.ocean` directory.

[code]

[2021-03-18 16:20] DMats commented on #234
Wait!  I might know what I'm doing wrong. One second, let me re-run it.

[2021-03-18 16:40] DMats commented on #234
@trentmc
:facepalm: I ran `sudo ./start_ocean.sh  --with-provider2` so my `.ocean` directory appeared at `/root/.ocean`. But when I run `./start_ocean.sh --with-provider2` without the `sudo` I get this error:

[code]

I believe I need to run the optional post-install step [Manage Docker as a non-root user](https://docs.docker.com/engine/install/linux-postinstall/#manage-docker-as-a-non-root-user).

[2021-03-18 17:10] DMats commented on #234
After allowing non-root users to manage docker, I was able to successfully run `./start_ocean.py --with-provider2` without `sudo`. I also observe `~/.ocean` directory is created. :raised_hands:

After that, I was able to successfully complete the ocean.py quickstart simple workflow.

[code]

[2021-03-18 17:25] kenbodnar opened #238 "polygon network not in ocean.util supported networks"
**Describe the bug**
The polygon network is not in ocean.util variables of supported networks

**To Reproduce**
Steps to reproduce the behavior:
View variable assignment of supported networks in ocean.util.py

**Expected behavior**
Expected to see this if polygon network is being used by aquarius to extract data

[2021-03-19 08:39] trentmc opened #239 "OceanPool isn't needed, so deprecate"
NOTE: we might not do this, we need to discuss whether we really want to do it first.

**Motivation**

OceanPool was intended as a thin wrapper for BPool, for convenience: so users wouldn't have to think about many steps to add OCEAN token, etc.

But there are issues:
- It has very poor test coverage. We could write tests but it will take time
- OCEAN is a less obvious default going forward: Ocean

[2021-03-19 09:00] trentmc opened #240 "ocean.py convenience methods aren't needed, so deprecate"
NOTE: we might not do this, we need to discuss whether we really want to do it first.

**Motivation**

The `ocean()` object provides a number of convenience methods that are thin wrappers, like creating a data token. The idea was that users don't have to think about many more steps

But, this adds complexity and hurts maintainability. You can still have good DX by making modules easy to use, in th

[2021-03-19 11:02] trentmc commented on #234
In the end, there was no core problem as David pointed out in the last issue.

Also as David pointed out, we could improve the README to help others as they onboard. Including explaining that docker must allow non-root users and link to instructions. I just did that in this commit:
https://github.com/oceanprotocol/ocean.py/commit/58f99df6cc524fc3e25335040578f8f6cf6ac5f0

[2021-03-20 07:24] trentmc commented on #227
Put into V4 since this changes behavior.

[2021-03-20 07:53] trentmc commented on #231
Put into V4, since this is breaking changes to the interface.

[2021-03-20 08:09] trentmc commented on #38
We already have several github issues to fix tests for code coverage.

Fuzz tests aren't going to be that beneficial.

Therefore this issue isn't going to happen.

[2021-03-20 08:09] #38 closed

[2021-03-20 08:31] trentmc commented on #45
This was already in the "long term" section. But it's sufficiently low priority it's not going to get done anytime soon. If users really want this, we will hear about it.

(Reopen if you feel otherwise:)

[2021-03-20 08:31] #45 closed

[2021-03-20 15:10] #238 closed

[2021-03-20 15:10] trentmc commented on #238
Done in https://github.com/oceanprotocol/ocean.py/commit/700da80fbdf0e403ace1f23613ed8d4f093c9434

[2021-03-20 15:20] trentmc commented on #185
Note: in the previous commit https://github.com/oceanprotocol/ocean.py/commit/57c6f580a1bb9adf237b82abab3a20d65ebfc1fa, in `ocean.py::Ocean.create_data_token()`, there's now an assert as soon as the datatoken is created. This catches the error sooner.
[code]

[2021-03-20 15:24] trentmc commented on #185
Here's the fundamental problem:

It simply doesn't see addresses, because it was never told where `address.json` is.

We gave it a config, but the config was incomplete. It would have tried to fill in, then it would have failed.

Which means _this_ issue is now simply redundant with #205.

Therefore, closing _this_ issue.

[2021-03-20 15:24] #185 closed

[2021-03-20 16:11] trentmc opened #245 "14 unit tests fail with "ConnectionError (to Aquarius?)"
**Describe the bug**
14 unit tests fail due to `requests.exceptions.ConnectionError`.

This is probably an issue with Aquarius, and maybe Provider; I'm putting it in ocean.py because this is where I discovered it and how to reproduce the bug.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to developers.md
2. Go through all the steps, up to and including running: `pytest`
3. `pytest` will

[2021-03-20 16:22] #200 closed

[2021-03-22 06:29] alexcos20 opened #246 "EIP-155"
With Geth v1.10.0, EIP-155 is enforced (see https://blog.ethereum.org/2021/03/03/geth-v1-10-0/, chapter "ChainID enforcement")

All transactions need to follow https://github.com/ethereum/EIPs/blob/master/EIPS/eip-155.md or they will be rejected in the future (Infura runs v1.10.0, but with --rpc.allow-unprotected-txs, so we are safe for the moment ).

All sending transactions should include chainI

[2021-03-22 14:02] #236 closed

[2021-03-22 15:09] DMats commented on #37
@ssallam can you point me to where this branch is stored?

[2021-03-22 15:13] trentmc commented on #37
Thinking about it, I don't know if it matters to see the old branch. Why: The type hints are all still in the ocean.py code. So you can simply bring in the `enforce_typing` library.

Also worth knowing: `constants.py` has a setup where you can use an envvar to turn on or off type checking.  This is because because type checking can cause code to run 10x slower; so during rapid iterations of develo

[2021-03-22 17:15] alexcos20 commented on #232
just delete it.  there is no way of pausing/resume a pod.
We can only have start & stop

[2021-03-22 17:46] alexcos20 opened #248 "Add allowAllPublishedAlgorithms to ComputePrivacy"
See [EPIC](https://app.zenhub.com/workspaces/ocean-main-5e5e5a97e91ce03f380fb9b7/issues/oceanprotocol/multi-repo-issue/90) for more details

[2021-03-22 20:12] DMats commented on #37
@trentmc Thanks for the info.  I've updated the issue description with a TODO checkbox regarding the TYPECHECK envvar defined in `constants.py`

Questions:

1. Should I write unit tests for the runtime type checking?
2. Where should I import `constants.py`? Some options:
    1. At the unit test and system test entry points.
    2. Everywhere that `enforce_typing` is imported.

[2021-03-23 04:37] DMats commented on #37
I created a branch https://github.com/oceanprotocol/ocean.py/tree/issue37-enforce-typing and enabled dynamic (runtime) type checking for all classes and functions that contained type hints.

I ran the unit tests and many of them failed. I've listed the test summary below. I'll work on fixing these TypeErrors tomorrow.

[code]

[2021-03-23 05:38] trentmc commented on #37
Great Q. Here's the general goal: you want it to be imported before `enforce_typing` is imported in a library to be used, so that can get redefined to `noop` if desired. We only really need it for unit & system tests, it doesn't have to be enforced for users of the library (but it could).

Therefore:
- (i) could work. You could probably call it just in ./conftest.py, which is currently the first p

[2021-03-23 05:42] trentmc commented on #37
There are two possible types of tests:
- (a) A test that the type checking system is in fact running during unit tests
- (b) Test content itself that certain variables follow the target types

For (a), we should definitely have at least one test for this, because that will help make _all_ remaining unit & system tests more thorough. Perhaps it simply checks that `TYPECHECK` is True.

For (b), much

[2021-03-23 05:43] trentmc commented on #37
Thanks for the report. This is great to see: recall that part of the aim to revive was to ferret out latent bugs. Looks like we have many.

Perfect, yes let's clean this up:)

[2021-03-23 13:48] trentmc commented on #246
Note, based on AlexC comments: put to high priority because the current workaround is Infura, and they might stop support for this at any minute. Ideally by Apr 7 or so.

[2021-03-24 06:24] calina-c opened #252 "Fix code and logic duplication in event retrieval"
Right now there seems to be a lot of duplication with Ethereum events. Different classes have the same way of retrieving and filtering events, but instead of being one single point of failure, we have functions that are copies of one another. Moreso, there are functions that retrieve a single event (e.g. get_transfer_event), which have the same problem. Same for event log retrieval.

**Possible so

[2021-03-24 06:26] calina-c commented on #252
@alexcos20 tagging you for CodeClimate. I remember we discussed implementing it. Is there a ticket for that? Is it still a valid plan for the future? Does CodeClimate support Python duplication?

CC @trentmc, if you have anything to add to the issue description. Thoughts or points etc.

[2021-03-24 07:20] trentmc commented on #252
Actually, we already have two common modules to handle events:
- `ocean_lib.web3_internal.event_listener.EventListener`
- `ocean_lib.web3_internal.event_listener.EventFilter`

But maybe those aren't used so extensively?

Therefore, perhaps the scope of this issue is:
- for each module that has custom event functionality
  - port its functionality to use the modules above (and extend functionality

[2021-03-24 11:18] #114 closed

[2021-03-24 11:20] alexcos20 commented on #248
closed in #139

[2021-03-24 11:20] #248 closed

[2021-03-24 16:38] DMats commented on #37
I'm skipping these errors because they seem unrelated to this issue. I also verified that they also occur on `main` so they're not caused by the `enforce-typing` changes I've made.

[code]

[2021-03-24 16:42] trentmc commented on #37
Makes sense. There are other github issues for those, targeted to address in this sprint.

[2021-03-24 19:10] #217 closed

[2021-03-24 23:12] DMats commented on #37
I updated the `issue37-enforce-typing` with the latest from `main` and finished fixing all of the TypeErrors. I'll work on fixing the TYPECHECK toggle tomorrow.

I made an interesting discovery - `enforce_typing` doesn't seem to support class objects - type hints like `data_provider: Type[DataServiceProvider]`. For details, see https://github.com/oceanprotocol/ocean.py/commit/5f4acdde2e3fabe3dda8b

[2021-03-25 13:21] calina-c commented on #245
My leading theory here is memory issues + Docker limits. Investigating.

[2021-03-25 14:10] calina-c commented on #245
I remember getting these at one point with tox. And the solution was to prune and restart the volumes, which worked. It's possible some issues happened inbetween v.2.2.4 and v2.2.6, going through v2.2.5, which suppported ES queries but still had some wrong assertions, causing failures. My local system can not run provider2 (Docker has memory leaks on Mac, and that's apparently the straw that break

[2021-03-25 14:57] calina-c commented on #245
Finally found the most likely issue. On the market_flow error I got, I traced it back to:

`requests.exceptions.ConnectionError: HTTPSConnectionPool(host='s3.amazonaws.com', port=443): Read timed out.` in barge.

I checked usages of s3 in ocean.py and they coincide with the usage of the metadata() fixture, market_flow and compute_flow (a bigger file for the last cases). So even though I can't _ful

[2021-03-25 15:02] trentmc commented on #245
When I had the error I did not have internet issues.

It happened repeatedly.

I wish I could say "sure ignore" but right now I don't think we can.

[2021-03-25 15:19] calina-c commented on #245
Could that have been issues from S3? Even if your Internet was fine, if S3 was slow you'd get the same failures. If it happened repeatedly and then stopped, we might be able to check whether S3 was slow that day and/or something was fixed.

[2021-03-25 22:35] DMats commented on #37
I added the TYPECHECK parameter to `config.py` and removed `constants.py`. Then I moved the monkey patch logic that changes `enforce_types()` to a no-op into the `conftest.py::setup_all()` function. However, I'm having trouble making it work properly.  I think the issue is that most of the places that use the `enforce_types` decorator don't actually import `config.py` or `conftest.py` so the monke

[2021-03-26 10:50] trentmc commented on #245
It _is_ possible that I did not clean my volumes. I thought I did, but you never know.

So I just did everything fresh again.

It worked. :)

So, I'm fine if you close the ticket. We can reopen it if the issue re-emerges. (Or go ahead and keep chasing leads if you have other things you want to investigate).

[2021-03-26 10:51] calina-c commented on #245
Let's reopen if it arises again. I'll keep in mind the S3 issue if pruning is just a coincidence.

[2021-03-26 10:51] #245 closed

[2021-03-26 11:02] trentmc opened #255 "'Unable to search for DDO` exception when testing ocean assets"
**Describe the bug**
In running `test_ocean_assets.py`, the first two tests fail.

A snippet of the console log points to something in Aquarius.
[code]

Full logs below. I found this while verifying #245.

**To Reproduce**
Steps to reproduce the behavior:
1. Go through developers.md, up until the pytest section. You could run all of pytest, or just ````pytest ocean_lib/ocean/test/test_ocean_assets

[2021-03-26 11:03] trentmc commented on #245
Note: not _all_ tests passed. There were two errors that I hadn't seen before. I reported them in #255, since scope looks different than this ticket. Though it does appear related to aquarius too.

[2021-03-26 13:00] calina-c commented on #255
@trentmc I can reproduce this, it's not just a barge update. I'm investigating.

[2021-03-26 16:09] DMats commented on #37
I've iterated on my `enforce_typing2.py` logic and I'm testing using `util.py::to_base_18(amt: float)` because most of the TypeErrors that I fixed earlier in the week were from tests passing `int` instead of `float`. I injected such an error into `test_contract_base.py::test_main`. Here's the command I'm using for testing.

[code]

Since `conftest.py::setup_all()` uses `ExampleConfig.get_config()`

[2021-03-26 16:14] calina-c commented on #255
will be closed by https://github.com/oceanprotocol/barge/pull/237 but since they are not in the same repo I can't link the PRs

[2021-03-27 03:18] DMats opened #256 "test_generate_multi_value_hash failure"
## Failure Information

`ocean_lib/web3_internal/test/test_utils.py::test_generate_multi_value_hash` fails when using the `TEST_PRIVATE_KEY1` value listed in `marketplace-flow.md` and `developers.md`.  The test passes when using the `TEST_PRIVATE_KEY1` value listed in `pytest.ini` or `tox.ini`.

## Expected Behavior

All tests pass.

## Step to Reproduce the problem

1. Start barge, export TEST_PR

[2021-03-27 14:46] DMats commented on #37
I was able to get myself unstuck.

The solution is a combination of options (iii) and (iv) explained by @trentmc in a [previous comment](https://github.com/oceanprotocol/ocean.py/issues/37#issuecomment-804632090). It allows us to toggle type checking using a config parameter in `config.ini`! :tada: It uses a shim instead of the monkey patch logic that was used with the legacy type checker.

The so

[2021-03-28 11:52] trentmc commented on #37
👍

[2021-03-29 07:11] calina-c commented on #255
Merged on barge and closing.

[2021-03-29 07:11] #255 closed

[2021-03-29 07:35] calina-c commented on #214
@trentmc I reviewed the existing files.

In order to have full 1:1 correspondence to the modules, we need to create:
- ocean_lib/assets/test/test_asset.py
- ocean_lib/assets/test/test_asset_resolver.py
- ocean_lib/assets/test/test_utils.py
- ocean_lib/data_provider/test/test_exceptions.py
- ocean_lib/data_store/test/test_auth_tokens.py
- ocean_lib/models/test/test_metadata.py
- ocean_lib/models/te

[2021-03-29 07:41] trentmc commented on #214
I think it's important to have both unit tests and system tests. The system tests almost certainly don't cover corner cases. And I bet we'll uncover some issues in these as we do them. BTW recently I wrote 50% of the tests for "test_utils.py".

[2021-03-30 06:16] DMats commented on #37
Future improvement idea: I saw at least a few instances where type hints were coded into function docstrings, but were not included in the actual function signatures. It would be good to add these type hints to the function signatures.

[2021-03-31 12:43] DMats opened #258 "licenseheaders pre-commit hook always fails"
## Expected Behavior

`licenseheaders` pre-commit hook should pass when all changed files contain the copyright header

## Current Behavior

`licenseheaders` pre-commit hook always fails when run via `git commit` or `pre-commit run`, even when all the changed files contain the copyright header. It passes when run via `licenseheaders -t .copyright.tmpl -f X` where X is a space-delimited list of fil

[2021-03-31 12:51] DMats opened #259 "Improve type hints"
This issue is a follow-on of https://github.com/oceanprotocol/ocean.py/issues/37

Possible improvements:

- [x] In cases where a function docstring includes type hints, but the function signature does not, add the type hints to the signature.
- [x] Apply the `@enforce_types_shim` decorator to every class and function.

[2021-03-31 16:21] mariacarmina commented on #246
I have assigned @md00ux  because he helped me a lot with the config for this task and the setup itself.

[2021-04-01 13:23] DMats opened #260 "Document type checking toggle"
Add a few lines to developers.md unit test section that describes how to enable/disable type checking, for a tradeoff between testing speed and thoroughness.

[2021-04-01 14:06] DMats opened #261 "Resolve or ignore issues in codacy coverage report"
The ocean.py codacy coverage report PR check fails. Despite it being a non-required check, it's probably a good idea to either resolve or ignore the issues it identified.

Codacy Issues List: https://app.codacy.com/gh/oceanprotocol/ocean.py/issues

[2021-04-01 14:12] #37 closed

[2021-04-01 14:32] DMats commented on #260
It's worth noting that when I tested it, enabling type checking actually sped up execution compared to when it was turned off.

Quoted from https://github.com/oceanprotocol/ocean.py/pull/254#issue-599794098

I ran three trials in which I compared the total run time of pytest with typechecking turned on and turned off. Strangely, in all three cases, the tests executed faster with typechecking enabl

[2021-04-02 07:48] calina-c commented on #258
@DMats can you run `pip freeze | grep licenseheaders`? I just did a full run for all the files in ocean.py, I had no issues.

[2021-04-02 13:00] DMats commented on #258
@calina-c Here's my licenseheaders version.  I'll try the other two suggestions the next time I have changes to commit. I know I had tried `pre-commit clean` back when I was troubleshooting this error.

[code]

[2021-04-05 09:01] #172 closed

[2021-04-06 15:55] calina-c commented on #258
I can reproduce it after merging the changes in main. It's a problem with licenseheaders itself, but I've opened a PR with the maintainer: https://github.com/johann-petrak/licenseheaders/pull/58

Fingers crossed!

[2021-04-06 21:17] johann-petrak commented on #258
I merged the PR. Please test and let me know if it works I will upload a new version.
Thanks!

[2021-04-07 06:25] alexcos20 opened #264 "Support changing rate in FixedRateExchange (FRE)"
Ocean.py should be able to allow users to update the rate for a given fixed rate exchange
(https://github.com/oceanprotocol/ocean.py/blob/main/ocean_lib/ocean/ocean_exchange.py)

[2021-04-08 06:53] trentmc commented on #252
Note: in [Aquarius#403](https://github.com/oceanprotocol/aquarius/issues/403), its fix included cleaning up some event logic, maybe that's useful here too. [Here's the PR](https://app.zenhub.com/workspaces/ocean-main-5e5e5a97e91ce03f380fb9b7/issues/oceanprotocol/aquarius/438).

[2021-04-08 09:32] calina-c commented on #258
@DMats can you please test with the master version of license-headers? If it works, we'll let Johann know and we can move back to 0.8.x

[2021-04-08 10:24] trentmc opened #268 "Aquarius + tox crashes, looks like ocean.py artifacts issue"
**Describe the bug**

AlexC: looks like aqua works fine in barge, but that is because we have the artifacts exported by ocean-contracts. if we test aqua with tox (which creates address.json, but no artifacts), everything will crash.

**To Reproduce**

Steps to reproduce the behavior:
1. In `aquarius` repo, run `tox`

**Expected behavior**
Doesn't fail.

**Additional context**

AlexC managed to sta

[2021-04-08 18:07] DMats commented on #258
@calina-c @johann-petrak
I re-installed the pre-commit hooks (which pulls the latest from licenseheaders master branch) and tried committing a trivial change (added a space to a docstring) and the licenseheaders hook passed! In other words, it looks like the fix worked. Please proceed with the 0.8.x version release.

[code]

[2021-04-08 18:52] johann-petrak commented on #258
OK, I created and uploaded version 0.8.8 from the latest master.

[2021-04-09 00:32] DMats commented on #231
I created a branch for this issue: https://github.com/oceanprotocol/ocean.py/tree/issue231-reduce-type-conversions

[2021-04-09 05:17] trentmc commented on #205
Update: I just tried to reproduce it again. It now fails earlier, before even getting to the error reported in the description.

In step 3, in Python console, I make it to the following line.
[code]

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/trentmc/code/ocean.py/ocean_lib/ocean/ocean.py", line 13, in <module>
    from ocean_lib.data_provider.data_servi

[2021-04-09 05:25] trentmc opened #270 ""set_config first" AssertionError in simple Ocean import"
### Describe the bug
When trying to do

[code]

I get:
[code]

### To Reproduce

Outline:
- just like developers.md: (1) install dependencies, (2) run the services, (3) set up contracts like in developers.md.
- then (4) try to do a couple imports, and it will fail.

Details:

**1. Do Install**

In a new console that we'll call the _work_ console (as we'll use it later):

[code]

***2. Run barge se

[2021-04-09 07:58] #270 closed

[2021-04-09 08:17] trentmc commented on #268
More info from slack:

Calina: I've investigated it a bit. But until now we didn't test anything sensitive. So the issue only appears in one of the branches

----
Alex: we need event testing in aqua (pools, fre). that is why we didn't catch that earlier

----
Calina: here’s a branch that contains some tests:
https://github.com/oceanprotocol/aquarius/pull/442

the tests pass on GitHub, but not loca

[2021-04-09 08:21] trentmc commented on #268
ocean.py has a bug on using default config file: #205. That may have caused issues here. I've got a fix in a [PR](https://github.com/oceanprotocol/ocean.py/pull/272), will merge to main soon.

[2021-04-09 08:32] trentmc opened #273 "failing test: test_generate_multi_value_hash()"
**Describe the bug**

Running
[code]

Will cause
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go through steps in developers.md
2. When running all tests with `pytest`, it fails on the above.

To reproduce faster, it's the test given above.

**Expected behavior**
Don't fail.

**Logs**

[code]

[2021-04-09 08:35] trentmc commented on #273
Note: 2476465b is the most commit on this test code

[2021-04-09 08:38] trentmc commented on #273
Calina: it passes with tox and regular pytest, possibly there’s another exported value for test_private_key1

[2021-04-09 08:38] trentmc commented on #273
(Trent): it doesn't pass with regular pytest for me

[2021-04-09 12:52] #258 closed

[2021-04-09 13:21] DMats commented on #273
This is a duplicate of https://github.com/oceanprotocol/ocean.py/issues/256

[2021-04-09 14:02] trentmc commented on #273
Closed, use #256

[2021-04-09 14:02] #273 closed

[2021-04-09 20:36] DMats commented on #231
# Proposed Changes

## Stop using "base 18" terminology
We should stop using the term "base 18". In computing, "base X" denotes the number of possible values for any given digit, not precision.

## Use `decimal.Decimal` instead of `float`

Instead of `float`, I propose we use a more precise alternative: [`decimal.Decimal`](https://docs.python.org/3/library/decimal.html)

## Conventions

1. All int

[2021-04-10 07:56] trentmc commented on #231
I appreciate the thoroughness and thoughtfulness of these recommendations.

I reviewed each specific recommendation. I am fine with all of them.

Some notes:
- Q: does web3.py use a Decimal approach? A: Yes. E.g. `web3.fromWei()` also returns Decimals.
- The historical reason for `base18` is the following. Chronologically: We considered other # decimals for datatokens, eg even 0 decimals. Then, ea

[2021-04-12 09:13] #205 closed

[2021-04-12 11:01] #235 closed

[2021-04-12 11:03] calina-c commented on #256
Assigned to Maria since this is exactly the issue with private keys. Please modify developers.md to match tox.ini and pytest.ini, not the other way around. This will probably be closed by #267.

[2021-04-12 11:05] calina-c commented on #264
Closed by https://github.com/oceanprotocol/ocean.py/pull/265, only it seems I did not connect it to this ticket.

[2021-04-12 11:05] #264 closed

[2021-04-12 11:14] calina-c commented on #261
Ref codacy static analysis: I did some ignoring cleanup and asked Maria to integrate the issues with the non-assigned variables from test_config (as part of her branch to improve testing). Once that is done, can you let me know @mariacarmina? I'll re-check to see if any Codacy Static Analysis issues re-appear.

Ref codacy code coverage, there are two tickets about this in provider and aquarius (i.

[2021-04-13 08:27] trentmc opened #278 "Deprecate creating fake OCEAN from within ocean.py"
**Is your feature request related to a problem? Please describe.**

In ocean.py for marketplace README quickstart, we generate fake OCEAN as explicit step. Most recently for #200.

Alex mentioned late last week that now ocean contracts repo generates fake OCEAN, and then it shows up in barge. If this is truly the case then we don't need the explicit step in OCEAN.

**Describe the solution you'd li

[2021-04-13 08:47] trentmc opened #279 "Add good compute-to-data example README"
Pre-requisite: #101

Motivation:
- Help stabilize compute-to-data
- Nice onboarding for python users to (a) use compute-to-data, in (b) a data science context

Basic flow of README
- Alice mints datatokens and publishes data asset
- transfers some to Bob
- Bob consumes in a CtD setting. The algorithm can be simple, eg `average()`

What it does _not_ need, and should not have
- Marketplace stuff
-

[2021-04-13 11:55] trentmc commented on #101
I now have enough to do the next issue. We can close this one.

[2021-04-13 11:55] #101 closed

[2021-04-13 12:14] alexcos20 commented on #201
kill it

[2021-04-14 04:50] DMats commented on #228
Agreed. I've self-assigned this issue and intend to complete it before continuing with #231.

[2021-04-14 05:21] DMats commented on #231
@calina-c @trentmc

I have a few questions aimed at better defining the scope of this task.

1. Is ocean.py the appropriate place to convert from Wei to Ether? Or does it make more sense to push this responsibility to the GUIs? I figured I'd ask because if the responsibility can be pushed elsewhere, ocean.py would only need to deal with Wei (ints).

*The rest of the questions assume that ocean.py

[2021-04-14 11:16] 0x3bfc opened #282 "Assert vs AssertError pattern"
So far the code base has two different patterns for the assertion handling:

[code]

Both of them are equivalent except that `assert` statements can be globally disabled with the `-O` command-line flag.

[2021-04-14 11:39] 0x3bfc opened #283 "Assertions without error messages"
The error messages need to be defined below:

https://github.com/oceanprotocol/ocean.py/blob/028fcacae9554ea85bde3e72295762bde98f99c8/ocean_lib/assets/utils.py#L63

https://github.com/oceanprotocol/ocean.py/blob/028fcacae9554ea85bde3e72295762bde98f99c8/ocean_lib/assets/utils.py#L73

https://github.com/oceanprotocol/ocean.py/blob/028fcacae9554ea85bde3e72295762bde98f99c8/ocean_lib/assets/utils.py#L2

[2021-04-14 11:56] #232 closed

[2021-04-14 12:38] mariacarmina commented on #229
Update: References to `aquarius_url` & `metadata_store_url`.

[2021-04-14 13:12] trentmc commented on #231
The latter. ocean.py should only deal with Wei.

That's the basis of this whole ticket. As the description says:
"Everything related to internals should be handled in the "long" format [Wei]. Everything related to GUIs should be handled in the "short" format (aka normal numbers 😅 ) [Eth]"

Ocean.py READMEs and unit tests will need to do Eth->Wei conversions.

As discussed above, ocean.py is _not_

[2021-04-14 13:51] DMats commented on #231
Thanks for clearing that up! I'm glad I asked. So in broad strokes, I will:

1. Transform all ocean.py APIs to denote values in Wei (for both parameters and return values).
2. Update READMEs and unit tests to denote values in Ether and perform conversions whenever they interact with ocean.py

[2021-04-14 13:54] trentmc commented on #231
Yep!

[2021-04-14 14:08] DMats opened #284 "Add unit tests and improve code coverage (part 2)"
Follow-on of Issue #214 and PR #267.

A couple of high-priority bug fixes became wrapped up in #267 so it was cut short and merged before adding all the desired unit tests. This issue #284 is for adding the unit tests that were missing from #267.

TODO:
Add unit tests for the following files (list copied from issue #214 and then augmented):

- [x] ocean_lib/assets/test/test_asset.py
- [x] ocean_li

[2021-04-14 16:34] calina-c opened #287 "Remove code related to OAuth"
It is obsolete and leftover from v1/v2.
This should also remove the need for AuthToken Storage containing raw SQLs. And the need for a storage var in configs.

[2021-04-14 21:32] DMats commented on #229
Should usages of `aquarius_url` be changed to `metadata_cache_uri` as well? I've listed examples below.

For the `OceanAssets._aquarius_url` property, would it make sense to create a new `OceanAssets._metadata_cache_uri` property that contains the same value as `_aquarius_url`?

[code]

[2021-04-15 06:01] calina-c commented on #268
Fixed on the stable-aqua branch, pending market deprecation of prices.

[2021-04-15 07:24] trentmc commented on #229
We should get rid of all instances of `aquarius_url` and `metadata_store_uri`, and _only_ have `metadata_cache_uri`.

(This is alright from a semantic versioning perspective, as ocean.py is still in 0.x.x.)

There should only be one thing. And it should be `metadata_cache_uri`.

Yes, absolutely, just like the description of this ticket says.

[2021-04-15 15:04] mariacarmina commented on #229
@trentmc I was curious if it's needed to update the name of the env vars too, because actually we have the `AQUARIUS_URL` env var. I have discussed with @DMats and we thought that maybe it could cause breaking of the code and it's better to avoid this change of the env vars. What is your opinion about this aspect?

[2021-04-15 15:24] trentmc commented on #229
Remember we are still in 0.x with ocean.py, therefore with semantic versioning it's ok to break the api.

David's changes on base18 api are gonna massively change the api in the coming week or two. So users of ocean.py will have to make changes for that.

But we're in the midst of a big C2D release and changes here might affect Aquarius and more. I don't want to mess with that.

Therefore I recomm

[2021-04-15 15:27] mariacarmina commented on #229
Ok, got it now, need to do a fallback on `AQUARIUS_URL`.

[2021-04-15 18:22] DMats commented on #229
Quoted from Slack:

Yes

[2021-04-16 06:34] #256 closed

[2021-04-16 10:38] calina-c commented on #226
Here is my audit, please give me feedback and instructions on how to proceed.

[https://app.zenhub.com/files/266274883/8f92c653-3a81-4a84-9f3e-5aaf711dcb9a/download](https://app.zenhub.com/files/266274883/8f92c653-3a81-4a84-9f3e-5aaf711dcb9a/download)

[2021-04-16 10:52] trentmc commented on #226
Here are A's to Q's in the doc.

A blockchain node. Was more important in Ocean V1 and V2 when Ocean had its own network. For V3 we deprecated having its own network and therefore removed the need for "keeper".

We shouldn't be, it should be part of plecos.

Move to DRY of course.

We can probably reduce, as some of them are probably leftovers from V1 / V2 complexity.

[2021-04-16 11:45] alexcos20 commented on #226
We should leverage as much as we can from ocean.py and ditch common-utils.

[2021-04-16 12:04] trentmc commented on #226
How about:
- move all of common-util into a sub-directory of ocean.py/ocean_lib/
- move all of plecos ""
- aquarius and provider use ocean.py as needed
- we only have to maintain ocean.py

[2021-04-16 12:10] trentmc commented on #225
Close because now with #226

[2021-04-16 12:17] trentmc commented on #226
Note: updated description heavily

[2021-04-16 14:42] DMats commented on #228
Adding functions that exist in [DataTokenTemplate.sol](https://github.com/oceanprotocol/contracts/blob/master/contracts/templates/DataTokenTemplate.sol) but are missing in [data_token.py](https://github.com/oceanprotocol/ocean.py/blob/main/ocean_lib/models/data_token.py) was relatively easy and has been completed in https://github.com/oceanprotocol/ocean.py/commit/46dc3ece562cee6bb763a749e742585ee

[2021-04-16 15:40] trentmc commented on #228
+1 so far:)

[2021-04-16 17:39] DMats commented on #228
A quick note I forgot to include in my last comment:

I decided not to inherit from BToken because the 6 functions defined in BToken.py are not the same 6 functions required by the [ERC20 spec](https://eips.ethereum.org/EIPS/eip-20). BToken.py defines 3 of the 6 required functions and the 3 optional functions defined in the ERC20 spec.

Adding to the confusion, I just realized that my last commit

[2021-04-16 18:03] DMats commented on #77
While I was working on https://github.com/oceanprotocol/ocean.py/issues/228 I ran into the fact that we're using Web3.py v4 instead of v5. This means that I must continue using the deprecated `ConciseContract` calling convention instead of the `ContractCaller`.

[2021-04-16 21:49] DMats commented on #284
@mariacarmina Just a head's up.  The list of files in the description of this issue is simply copied from the original issue #214 and then I added some more. So it's entirely possible that some of the files already have sufficient unit tests. If that's the case, please just go ahead and mark them complete.

[2021-04-16 21:55] mariacarmina commented on #284
Thank you  @DMats, I saw that there are some duplicates, but it's ok.

[2021-04-17 00:13] DMats commented on #228
I finished removing the `DataToken.get_info()` method.  I ended up adding a `DataToken.calculate_token_holders()` method to eliminate some duplication in `ocean_pool.py`

After briefly surveying all the other methods, I think they can probably stay.  Some of them will be removed in #231. Others are useful for processing events. and the rest are wrappers for the underlying smart contract.

I'll wor

[2021-04-19 09:28] calina-c opened #292 "Test former common-utils (now in ocean.py)"
Follow-up on #226.
The PR #289 moved towards adding common-utils into ocean.py, and the tests already present in the library, but no extra tests were created. We need to add code coverage to this module.

[2021-04-19 18:24] alexcos20 opened #295 "Free pricing"
Ocean.py should support the dispenser contract with:
- call activate (and make dispenser minter), set the options
- dispense 1 DT for the consumption user if required

See [EPIC](https://app.zenhub.com/workspaces/ocean-main-5e5e5a97e91ce03f380fb9b7/issues/oceanprotocol/multi-repo-issue/91) for details

[2021-04-19 18:38] alexcos20 opened #296 "Credentials support in asset"
See [EPIC](https://app.zenhub.com/workspaces/ocean-main-5e5e5a97e91ce03f380fb9b7/issues/oceanprotocol/multi-repo-issue/98) for details

Ocean.py should:
- allow publisher to set credentials
- check credentials on consumption
- allow publisher to update credentials

[2021-04-20 07:16] alexcos20 opened #298 "Add ocean.assets.isConsumable"
This function should check if the asset is consumable by :
- check isDisabled flag (it exists & true -> asset is not consumable)
- check file conectivity
- check credentials

Return should be a interface, containing a status and a status_message: Eg
   0, All good
   1, Asset is disabled
   2, Connectivity check failure
   3, Credential missing from allow list
   4, Credential found on deny list

[2021-04-20 12:07] DMats commented on #214
Since we created #284 we should close this issue.

[2021-04-20 13:35] #214 closed

[2021-04-20 18:35] #229 closed

[2021-04-22 03:47] DMats commented on #228
After reviewing the unit tests at [DataTokenTemplate.Test.js](https://github.com/oceanprotocol/contracts/blob/main/test/unit/datatokens/DataTokenTemplate.Test.js) I think it maybe doesn't make sense to add nearly identical unit tests in ocean.py. So I'll go ahead and submit the PR.

[2021-04-26 07:03] calina-c commented on #201
Done, but blocked by deprecating fake OCEAN.

[2021-04-26 13:15] calina-c commented on #261
We no longer send coverage reports to Codacy. :) Issues are moved to CodeClimate.

[2021-04-26 13:15] #261 closed

[2021-04-26 13:18] calina-c commented on #298
Should we name this isConsumable, and does it refer to the same concept as the Aquarius `isConsumable` that we are now trying to remove?

[2021-04-26 17:46] #228 closed

[2021-04-26 21:10] DMats commented on #231
@trentmc We've already agreed that this issue can and will break the ocean.py API.

I recommend creating a multi-repo EPIC to track the changes in repos that depend on this one like aquarius and provider.

Does the scope of my current assignment extend to the repos that depend on ocean.py?

[2021-04-27 04:14] trentmc commented on #231
Yes.

[2021-04-27 06:46] trentmc commented on #282
The nuances for these two patterns are different:
- The first can raise any error type, which gives the opportunity for specificity
- The second can only raise an AssertionError

Therefore this ticket is a wontfix. Closing.

[2021-04-27 06:46] #282 closed

[2021-04-27 09:57] #278 closed

[2021-04-27 10:37] #201 closed

[2021-04-27 10:37] #287 closed

[2021-04-27 12:45] trentmc commented on #226
I just moved the plecos TODOs back into its original issue: #225

Therefore _this_ issue's TODOs are done. We can close! :)

[2021-04-27 12:45] #226 closed

[2021-04-27 13:23] DMats commented on #231
I've changed my mind regarding the recommendation in my last comment: I just remembered it's possible to link an issue with a PR from another repository (at least in ZenHub it's possible, not sure about Github). So an EPIC isn't the right choice. I think it's better to just keep this as the main issue, and link the PRs from Aquarius and Provider to this issue.

[2021-04-27 13:38] DMats opened #304 "Move contents of Web3Helper to utils.py, change static methods to module functions, remove duplicates, use Web3Provider"
Doing this would offer a couple of benefits:

1. Imports can be more explicit. Only the functions used are imported, instead of the Web3Helper class.
2. Call sites can be shorter - Don't need the `Web3Helper.` prefix.
3. This would also put all of our utilities built on top of Web3.py in one place.

In my mind, this issue builds towards #231 because abbreviating the call sites will reduce the form

[2021-04-27 13:39] DMats commented on #304
Aquarius and Provider both use `Web3Helper` from ocean.py so PRs for these repos will be required as well.

[2021-04-28 08:49] calina-c opened #306 "Assess public key base and public key RSA contents, remove if necessary"
Formerly in common-utils, ocean.py now contains the files `public_key_base` and `public_key_rsa`. The contents of these files are outdated and unused, according to Alex. But preliminary trials to remove them failed, and there are bigger priorities right now.

[2021-04-28 18:36] DMats opened #307 "Failure to create datatoken, looks like default artifacts issue"
Note: this github issue uncovered two problems: (1) network_url polygon (2) default artifacts issue. Issue (1) is in the description below and the first few comments. Issue (2) is in the remaining comments.

--

First reported by Corrie#6921 via Discord: https://discordapp.com/channels/612953348487905282/822085610172317706/836613103839871037

Addtional context:
https://discordapp.com/channels/6129

[2021-04-29 07:52] trentmc commented on #8
There's no need to have this as an epic. The two remaining issues can be handled standalone. Therefore closing this.

[2021-04-29 07:52] #8 closed

[2021-04-29 16:25] DMats commented on #307
The changes in PR #308 so far (up through https://github.com/oceanprotocol/ocean.py/pull/308/commits/fc9e7f1a5e0d424384a3d8ffbe7d5a45763a2d9e) have fixed the initial AssertionError where "polygon" was not in the `SUPPORTED_NETWORK_NAMES`. Now, it should be possible to specify `config = { "network": "polygon" }`

However, the second issue remains:

[code]

[2021-04-29 18:05] #292 closed

[2021-04-29 23:54] DMats commented on #304
After I moved all the `Web3Helper` methods to `web3_internal.utils.py` I ended up with a circular dependency between `web3_internal.wallet` and `web3_internal.utils`. So I ended up moving the functions that required a `Wallet` instance to a new file called `transactions.py` since most of them seemed related to sending basic transactions.

[2021-04-30 08:50] #304 closed

[2021-04-30 16:36] trentmc commented on #307
The second issue is a sign that it can't see the contract on polygon. That contract info is normally imported from the ocean contract pypi repo. So then the question is: does ocean contact pypi repo have it? If no, fix that. If yes, then track down why it can't see it in Ocean.py

[2021-05-03 04:56] DMats commented on #307
Reported by Corrie#6921 via Discord

[2021-05-06 06:26] calina-c commented on #298
@alexcos20 should there be a "short-circuit" type check of isConsumable? Ref. "connectivity check": that will only circle back to Provider, when called FROM Provider. So at least on provider, we can check the connectivity right there, with the in-built helpers, instead of circling through ocean_lib calling to the provider endpoint.

[2021-05-06 07:25] alexcos20 commented on #298
yes, we have different flows, depending on the component.
but provider already does pingCheck

[2021-05-07 10:22] #283 closed

[2021-05-08 01:13] DMats commented on #307
Yes.  it places it at `$VIRTUAL_ENV/lib/python3.8/site-packages/artifacts/address.json`.

[code]

ocean.py can't see it because the default `artifacts.path` is `~/.ocean/ocean-contracts/artifacts` and the `address.file` is derived from that.

[code]

@trentmc @calina-c What would you say is the appropriate solution here?  Should I change the default `artifacts.path` to be `$VIRTUAL_ENV/lib/python3

[2021-05-08 06:10] calina-c commented on #307
I defer to @trentmc on this one. I'm not sure why this happens only now. Shouldn't it affect other networks as well? If we use this derived path, what happens if someone uses the native Python without a venv?

[2021-05-08 06:15] trentmc commented on #307
I renamed this issue to point out its similarity to previous issues.

**Summary**

Until recently, the answer would be to point to `venv/artifacts/`, kinda like what you suggested. That's what it does elsewhere in ocean.py.

But that's problematic of course. For ocean.py to get addresses specified by ocean-contracts, (a) it shouldn't have to point to a directory in a virtual env, and (b) it doesn'

[2021-05-08 06:29] trentmc commented on #307
I meant to mention: yes it should affect other networks as well. But perhaps not ganache or barge because it might auto-set some stuff, which is why the issue only showed up now versus in unit tests.

I will rename the issue accordingly.

[2021-05-10 09:42] mariacarmina commented on #284
To test the `exceptions.py`, can I add to `ocean_lib/test` folder instead of `ocean_lib/data_provider/test/`?

[2021-05-10 12:48] mariacarmina commented on #284
`auth_tokens.py` is obsolete, checked with @calina-c. No unit tests needed for that.

[2021-05-10 19:59] DMats commented on #307
# 2nd issue fixed

I've fixed the issue where the `Ocean` instance couldn't see the `polygon` contract addresses in commit https://github.com/oceanprotocol/ocean.py/pull/308/commits/fd35692f346cefb611736350bf83ba9e216fdf86. The fix was to default the `artifacts_path` property to the `ocean_abis` folder from the `ocean-contracts` dependency.

# 3rd issue revealed

Unfortunately, a third issue has b

[2021-05-11 08:59] alexcos20 commented on #307
not sure where is that, but you have 6 topics in abi and only 4 in event.. definitely something does not match

[2021-05-12 23:42] DMats commented on #307
I log_entry was `LogFeeTransfer`. So I think you're right :sweat_smile: something went wrong when I was creating the datatoken
https://explorer-mainnet.maticvigil.com/tx/0xaa3771ad84cdc5372d880f3feb6dc41943ddf8aae03ee66a93c0dc0f7874d7a2/logs

I'll try creating a datatoken on ropsten so I can see what a successful datatoken creation looks like.

[2021-05-13 01:35] DMats commented on #307
I think it ran out of gas.
![Screenshot from 2021-05-12 21-35-16](https://user-images.githubusercontent.com/2530913/118064928-02cfa500-b36a-11eb-89c1-1df899383163.png)

[2021-05-13 09:15] #296 closed

[2021-05-13 09:15] #298 closed

[2021-05-13 14:43] DMats commented on #307
I created a datatoken on Ropsten using the same script that I used for Polygon and here is the resulting transaction:
https://ropsten.etherscan.io/tx/0x403107b7b7f0f56089a08d4c3cbc3ef609a795cb6897c660b1db973dedcc533a

I see that the gas limit was set to 268,583 and that it used 100% of it. 3 logs were created.

My guess is that somehow ocean.py is setting the gas limit too low on polygon.  Will in

[2021-05-13 20:58] DMats commented on #307
I executed all the steps in `marketplace-flow.md` and successfully created this datatoken/pool on polygon: https://market.oceanprotocol.com/asset/did:op:2357C32D8C68514D4186D0e193836156a133F0f3

When I first attempted to create a datatoken on Polygon 7 days ago (https://explorer-mainnet.maticvigil.com/tx/0xaa3771ad84cdc5372d880f3feb6dc41943ddf8aae03ee66a93c0dc0f7874d7a2/internal-transactions), I t

[2021-05-14 06:06] trentmc commented on #307
OK with me. So you'll merge the PR and close the issue?

[2021-05-14 12:24] DMats commented on #307
Yeah I'll merge it after it's been reviewed.

[2021-05-14 13:48] #307 closed

[2021-05-14 19:07] DMats commented on #231
In a recent daily stand-up, I made a case for using half even rounding but ultimately the team decided to round down via truncation in all cases where rounding occurs, including:

1. Result of percentage calculations (especially when removing a % of tokens from a pool or when calculating fees)
2. When displaying balances
3. When a user inputs a value with too many digits of precision

[2021-05-17 19:04] DMats commented on #231
@trentmc @alexcos20 @calina-c
Should errors, warnings, and other log messages denote token amounts in wei or ether? I see pros and cons to both approaches. Whichever we choose, I think we should try to be consistent across all of ocean.py.

[2021-05-17 19:37] trentmc commented on #231
Or both. Benefit is that it's human readable and easy to debug.

[2021-05-17 19:45] DMats commented on #231
Fair point.  Okay, for errors, warnings, logs, and other prints I'll denote token amounts in both wei and ether.  Something like

`
Error: Insufficient balance. User requested 123456789123456789 wei (0.123456789123456789 ether) but only 5 wei (0.000000000000000005 ether) available.
`

[2021-05-17 19:46] trentmc commented on #231
Looks fine to me.

[2021-05-17 19:48] trentmc commented on #231
You could create a special string creation utility to make it easy.

See the last two methods here:
https://github.com/oceanprotocol/tokenspice2/blob/master/util/strutil.py

[2021-05-18 12:30] DMats opened #319 "ocean.py cannot find ocean-contracts artifacts"

[2021-05-18 13:15] DMats commented on #319
I created this issue as a knee-jerk reaction to the issues with ocean-contracts discussed at today's daily stand-up.  But now that I'm thinking about it, it's a duplicate of a subtask on https://github.com/oceanprotocol/multi-repo-issue/issues/83 so I'm closing it.

[2021-05-18 13:15] #319 closed

[2021-05-19 06:58] #284 closed

[2021-05-20 12:53] trentmc commented on #202
Yeah, I think you're right, it's probably ok to leave as a singleton. We will need to generalize some of its config parameters to be able to accommodate multiple chains though. But that could be simply stored as a list of configurations for each network, and still "global" in ConfigProvider. Or some other way.

Web3Provider and ContractHandler still need to move away from being singletons.

[2021-05-20 13:27] DMats commented on #202
@trentmc My apologies, I was unclear.  I propose that we eliminate the ConfigProvider entirely - singleton variant is effectively global and poor design, instance variant is useless.

Agreed.  We might actually want to eliminate them too :thinking: but I'm not sure yet.

[2021-05-20 14:20] mariacarmina opened #324 "Marketplace quickstart crashes when minting fake OCEAN"
When I try to reproduce the market quickstart, I got stuck on minting part. After the installation of the ocean-lib, I have noticed that minting process crashes because of "tests.resources" module which said that is not found and that means that the wallets such as `ganache wallet` or `publisher_ocean_instance` could not be used.

[2021-05-20 14:34] DMats commented on #231
@trentmc Sure, I'll create some utilities. The ones I create will account for the different conventions between fiat and tokens. And they'll use Decimal instead of float.

[2021-05-21 04:37] DMats commented on #202
# Regarding `Web3Provider`
I think we should eliminate all of it except the `init_web3` function which could be moved to the `web3_internal.utils`.

# Regarding `ContractHandler`
I really like this file - it's well documented and well designed.  But, I think we should eliminate it.  Now that we can import the ocean addresses and ABIs from the `ocean_contracts` module, the ContractHandler seems ent

[2021-05-21 06:13] trentmc commented on #202
Re Web3Provider and ContractHandler -- eliminating looks entirely reasonable to me. I love when we can chop away large parts of code and still get the same functionality. So if we can get away with it let's do it.

Re ConfigProvider -- if we eliminate it, how do we handle parameter setting?

[2021-05-21 09:18] calina-c commented on #225
@trentmc Added this into aquarius now, since we needed plecos updates and Alex asked to move it too. I addressed most of the concerns, except for renaming and work in other repos.

Ref. renaming: is it necessary? What would you suggest?
Ref. work in other repos: to be done after we merge stable-aqua.

[2021-05-21 09:32] trentmc commented on #225
Not strictly necessary, but having a random name is unnecessary complexity and can hinder DX. So I strongly suggest renaming it. E.g. to "validate-metadata" directory, or ideally a shorter name. (Open to suggestions! :)

[2021-05-21 09:33] trentmc commented on #225
BTW It's great to see this ticket happening! :)

[2021-05-21 13:12] #324 closed

[2021-05-21 21:11] DMats commented on #202
ocean.py parameters are handled by `ocean_lib.config.Config`, which is passed into `Ocean` upon initialization.

[code]

If we eliminate `ConfigProvider`, that means that internally, `Ocean` will need to pass the config instance to anything that needs it. This approach can seem messy due to the increased parameter passing, but ultimately this is a better design because it avoids global state, make

[2021-05-22 06:32] trentmc commented on #202
From a few comments ago:

From previous comment:

The above two statements appear contradictory. Are we going to have a config object or no?

[2021-05-22 06:52] DMats commented on #202
Yes, we'll still have a config object - `ocean_lib.config.Config`. We can eliminate `ocean_lib.config_provider.ConfigProvider`

[2021-05-22 07:19] trentmc commented on #202
Thanks. Perfect.

[2021-05-24 07:34] calina-c commented on #225
Done on provider.
In review/discussion on ocean.py.
Blocked by stable-aqua merge in aquarius.

[2021-05-24 14:49] DMats opened #327 "Remove ARTIFACTS_PATH, contract ABI JSON loading, and ContractHandler"
Since the ocean-contracts PyPi package now supports loading contract ABI JSON files using `jsonsempai`, there is a lot of code simplification that can be done in ocean.py. See for details: https://github.com/oceanprotocol/multi-repo-issue/issues/83#issuecomment-846274680

- [x] Eliminate JSON loading and validation for ocean ABIs
- [x] Eliminate ARTIFACTS_PATH envvar and artifacts.path config opti

[2021-05-25 06:33] alexcos20 commented on #202
Moved to high prio, blocks multichain aqua

[2021-05-25 12:09] DMats commented on #231
I finished adding a couple of utilities:

1. `pretty_ether` makes token amounts denoted in ether human-readable by shortening them and adding well known scaling symbols and an optional ticker symbol

For example:
[code]

2. `ether_fmt` makes token amounts denoted in ether human-readable by adding commas and adding a fixed number of decimal places and optional ticker symbol.

For example:
[code]

[2021-05-25 12:57] DMats commented on #231
A few conclusions from today's backend sprint planning meeting:

1. This issue can focus on ocean.py.  New issues will be created for provider and aqarius.
2. Since this issue will cause API breaking changes, it should not be merged directly to `main`, but rather merged into a separate long-running branch (similar to what @calina-c  did with `stable-aqua` in Aquarius)

(2) is a very good thing - i

[2021-05-25 13:06] DMats commented on #231
@trent asked that I consider submitting a PR to eth-utils to add the `pretty_ether` utility I created. https://github.com/ethereum/eth-utils (If I can do it in a way where it doesn't bottleneck us elsewhere).

[2021-05-25 15:52] DMats commented on #231
I've assigned a remaining time estimate of 21 half days to this task.

My reasoning is that I'll need at least another week to finish all the code changes and then I suspect the review will take longer than normal.

[2021-05-25 17:53] DMats commented on #77
The latest version of Web3.py on PyPi is 5.19.0 so this is what I've instructed @mariacarmina to upgrade to.

[2021-05-25 23:34] DMats opened #329 "Remove ConfigProvider"

[2021-05-25 23:36] DMats opened #330 "Remove Web3Provider"

[2021-05-26 00:02] DMats opened #331 "Update ExampleConfig to be more like the ocean.js ConfigHelper"
ocean.js offers the `ConfigHelper.getConfig` method which takes a network name, and returns a dictionary of config parameters for the corresponding network like chainId, provider URL, aquarius URL, etc.

ocean.py offers the `ExampleConfig.get_config` method that returns a `Config` instance that is used by unit tests but wouldn't work for a real network.

This issue is to update the ocean.py `Examp

[2021-05-26 00:03] DMats opened #332 "Remove ContractHelper"

[2021-05-26 00:04] DMats commented on #332
This is a duplicate of #327. so closing

[2021-05-26 00:04] #332 closed

[2021-05-26 14:04] DMats commented on #202
@alexcos20 Per the conclusion from yesterday's sprint planning meeting, I've added additional subtasks to this EPIC and added my estimates.

[2021-05-26 16:12] DMats commented on #329
I propose that we remove the ability to toggle type enforcement while removing ConfigProvider. Instead, types should be enforced, always.

Reasoning:

1. The ability to toggle type enforcement relies on the ConfigProvider. In fact, any parameterized decorator requires the parameter to be defined before the decorated class/function is loaded, which implies global or module-level scope. This leads t

[2021-05-26 16:51] trentmc commented on #329
I'm fine with this.

The original motivation was because elsewhere type-checking observed to degrade performance. However it here it didn't. Therefore we can always type-check.

[2021-05-26 18:05] DMats opened #334 "test_AquariusError fails when run in isolation"
# Description
`test_exceptions.py::test_AquariusError` fails when run in isolation.

# Expected Behavior
Any given test should work when run in isolation and shouldn't depend on any other test.

# Error Log
[code]

# Analysis
test_AquariusError relies on previous tests creating assets.  It should create its own assets.

[2021-05-28 07:40] #295 closed

[2021-05-28 12:20] mariacarmina opened #337 "Warnings related to deprecated web3 functions in marketplace-flow README (part 1)"
After the update of the web3 to the latest version(v5.19.0) #333, I followed the steps from the marketplace-flow README and I found some warnings related to deprecated web3 functions. I will attach here the logs and the section where they were found and the purposed modifications:

- [x]  replace `web3.sha3` with `web3.keccak`

- [x]  replace `web3.soliditySha3` with `web3.solidityKeccak`

- [x]

[2021-05-28 13:35] mariacarmina opened #338 "Replace camelCase occurrences with snake_case in ocean.py"
Replace camelCase occurrences with snake_case in ocean.py except where the camelCase is a 1:1 match with an underlying smartcontract method. Required in #333.

[2021-05-29 05:20] DMats commented on #338
I updated the task description to include the caveat mentioned by @trentmc here: https://github.com/oceanprotocol/ocean.py/pull/333#issuecomment-850413138

[2021-05-31 07:42] #77 closed

[2021-05-31 15:54] DMats commented on #329
It has become clear that I underestimated this task. I spent most of Tuesday - Friday of last week working on this so it's already taken about 6 half days (the other 2 half days were spent in meetings and helping with debugging efforts on other tasks).

I suspect this task will take another day to complete. So I'm updating the total estimate to 8 half days.

[2021-06-01 10:28] alexcos20 opened #339 "Asset status object"
**Describe the bug**
Ocean.py should follow the new status object in the metadata (https://github.com/oceanprotocol/OEPs/tree/master/8/v0.5#status-attributes)
The status object is located in the metadata service, and not in root

Actual code:
https://github.com/oceanprotocol/ocean.py/pull/314/files#diff-4fe12d33e5b6cf223d037f7ebc710c73cca03d661a204ab6cf19a5a3951f084aR74

(This will require a provi

[2021-06-02 13:04] #268 closed

[2021-06-07 09:14] mariacarmina opened #343 "Remove contract_concise, replace with ContractCaller"
From the previous part #342, the only changes that need to be done are:

- [ ] remove contract concise which is deprecated; Replace it with ContractCaller
Code : `pool = ocean.pool.create( token_address, data_token_amount=100.0, OCEAN_amount=10.0, from_wallet=alice_wallet)`
_Log:_ `BFactory.newBPool(). Done.
/home/maria/Desktop/test3/venv/lib/python3.8/site-packages/web3/_utils/decorators.py:48: D

[2021-06-08 11:45] #337 closed

[2021-06-08 13:25] #230 closed

[2021-06-08 13:59] #338 closed

[2021-06-08 14:34] DMats opened #345 "Error during ocean.py marketplace-flow"
An error occurs in the marketplace-flow when executing this line

[code]

Full console log:
[code]

[2021-06-09 15:28] DMats commented on #231
PR #281 has been reviewed and merged to the `wei-interface` branch. :tada: I'm glad to have a 2nd pair of eyes on the work I've done so far. A

It updated the existing to/from wei utilities to use Decimal instead of float and generally laid the groundwork for eliminating conversions. ll of the unit tests pass with a few minor hacks to deal with incorrect math due to limitations of the floating-poi

[2021-06-14 16:46] DMats opened #346 "Upgrade to ContractCaller interface from ConciseContract which is deprecated"

[2021-06-14 18:37] DMats opened #347 "Local Node support is broken"
# Background
The `CustomContractFunction` class exists to provide a single interface for sending transactions to Ethereum nodes.  It's supposed to send the transaction to a local node using the `personal` API if the `passphrase` for the `from` account is included in the `transaction` dict, else, it sends the transaction to a hosted node via the `eth` API.

# Problem
Today the local node support is

[2021-06-15 12:42] AnaLoznianu commented on #346
Closing as is a duplicate of: https://app.zenhub.com/workspaces/backend-5e5e5a97e91ce03f380fb9b7/issues/oceanprotocol/ocean.py/343

[2021-06-15 12:42] #346 closed

[2021-06-15 13:05] DMats opened #348 "Resolve ABI Mismatch warnings in marketplace-flow README"
- [ ] resolve the `ABI Mismatch` issue;
 Code: `data_token = ocean.create_data_token('DataToken1', 'DT1', alice_wallet, blob=ocean.config.metadata_cache_uri)`

 _Log:_ `/home/maria/Desktop/test3/venv/lib/python3.8/site-packages/web3/contract.py:1162: UserWarning: The log with transaction hash: b'\x15\x87\x0f\x1a\xe5I \xc5\x8a#\x00\xfc\x19\xdb\xc49\xb2;~oM3\xbb\xcb$$\xd2K\xc0\x07\xfa\x0b' and logIn

[2021-06-15 13:10] DMats commented on #343
@mariacarmina I split the ABI Mismatch stuff into a new issue: #348 because I have a strong hunch that it will need to be addressed separately than upgrading the concise contract calls.

[2021-06-16 08:12] calina-c commented on #345
This is an error from aquarius. Can you reproduce it using the stable aqua branches?

[2021-06-16 11:04] calina-c commented on #339
Won't need provider update, since we are using the ocean.py functions in provider. But I'll bump version to make sure everything is well "under the hood"

[2021-06-16 14:36] DMats commented on #345
This error looks very similar to the errors I'm seeing while testing #309 on rinkeby. I'm marking #309 blocked by this issue and I'll start work on this issue right away. CC @AnaLoznianu @trentmc @calina-c

@calina-c I'll try that first.

[2021-06-17 06:33] trentmc commented on #345
Looks like you're missing the wheel package. This may have caused cascading errors. First order of business is to fix this.
https://stackoverflow.com/questions/34819221/why-is-python-setup-py-saying-invalid-command-bdist-wheel-on-travis-ci

[2021-06-17 10:25] calina-c commented on #339
#349 works on moving the status object in its right place, but per @trentmc we are not sure whether the scope of this issue is just to move the existing implementation of `isOrderDisabled` (done in #349) or if it includes the other flags as well.

[2021-06-17 10:46] trentmc commented on #339
I think it makes sense for ocean.py to support all the flags. You can do it in this issue, or create a new one.

[2021-06-17 16:15] DMats commented on #345
@trentmc
CC @calina-c @mariacarmina @AnaLoznianu
# invalid command 'bdist_wheel' not a problem
After extensively testing, I've determined that the `invalid command 'bdist_wheel'` errors are **not a problem**.

The reason is that building a wheel (.whl) file is not strictly necessary to install a source distribution (sdist). Upon failing to build a whl file, pip falls back to running `python setup.

[2021-06-17 19:47] trentmc commented on #345
OK, so wheel is taken care of.

Then it's almost certainly an aqua issue, as @calina-c pointed out.

[2021-06-18 02:35] DMats opened #351 "account.signHash is deprecated, replace with sign_message"
`account.signHash` throws a deprecation warning during the marketplace_flow.md (using `feature/stable-aqua` branch of barge).  It should be replaced with `account.sign_message`.

Ignore the unclosed socket warning, it will be addressed by https://github.com/oceanprotocol/aquarius/issues/420

[code]

[2021-06-18 02:49] DMats commented on #345
# Fixed (Blocked) by stable-aqua
I ran the ocean.py `marketplace-flow.md` along with barge on the `feature/stable-aqua` branch and the error did not appear.  Thus, I will mark this issue blocked by stable-aqua https://github.com/oceanprotocol/aquarius/pull/446

There remain several warnings but I believe these are addressed by other issues.

# ABI Mismatch Warnings
The following ABI Mismatch warni

[2021-06-22 13:18] DMats commented on #227
I've decided to test this issue using a slightly modified version of the `marketplace-flow.md`.

I marked it blocked here: https://github.com/oceanprotocol/ocean.py/issues/227#event-4911179119 because I observed errors that were likely caused by aquarius. At the time, I was testing with the "main" aquarius endpoints.

It was determined at today's sprint planning meeting that I should test this wit

[2021-06-24 06:12] MrAliFar opened #353 "Error while running the datatokens-flow"
Running the datatokens-flow code results in an error when running the following line:
`datatoken = ocean.create_data_token("Dataset name", "dtsymbol", from_wallet=wallet)`

The error is as follows:
`WARNING:root:No logs were found for tx 0xed828d0612b1251a92a7e3e2564c3fc56f895c7e3a6c59cdd9c2759d62979aa8.
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/ali/bar

[2021-06-25 06:10] #334 closed

[2021-06-25 06:15] #351 closed

[2021-06-25 06:32] calina-c commented on #330
I already did it in aquarius. I can work on it if @DMats is busy.

[2021-06-25 09:40] DMats commented on #330
I'd rather keep this one since I've talked about it so much.  I intend to get back to it after I'm done with https://github.com/oceanprotocol/ocean.py/issues/227

[2021-06-28 08:14] calina-c commented on #330
Ok

[2021-06-28 11:11] AnaLoznianu opened #357 "Ocean.py support V4 smart contracts"
Background: v4 smart contracts are built (alpha form). They include js unit tests inside the contracts repo.

Next up: update ocean.js and ocean.py to support the new functionality.

Context:
- [V4 super-epic](https://github.com/oceanprotocol/multi-repo-issue/issues/93)
- Blog posts on ERC721 + ERC20 for IP. First of three [here](https://blog.oceanprotocol.com/nfts-ip-1-practical-connections-of-er

[2021-06-28 12:39] AnaLoznianu opened #358 "Add support for all asset status flags supported by ocean.js"
Linked to: https://app.zenhub.com/workspaces/backend-5e5e5a97e91ce03f380fb9b7/issues/oceanprotocol/ocean.py/339

Status Attributes: https://github.com/oceanprotocol/OEPs/tree/master/8/v0.5#status-attributes

[2021-06-28 15:12] AnaLoznianu commented on #225
@alexcos20 Please take a look over this one once we deploy stable aqua

[2021-06-28 15:39] #327 closed

[2021-06-28 22:19] DMats opened #360 "Remove unused `abi_path` parameter from ContractBase"
The `ContractBase.__init__` method takes an `abi_path` parameter that is ultimately unused. It should be removed.

This will affect the following subclasses:

* class BFactory(ContractBase):
* class BToken(ContractBase):
    * class BPool(BToken):
* class DataToken(ContractBase):
* class DispenserContract(ContractBase):
* class DTFactory(ContractBase):
* class FixedRateExchange(ContractBase):
* cl

[2021-06-29 12:09] #339 closed

[2021-06-29 12:22] DMats commented on #347
During the sprint grooming today, we discussed whether we should continue supporting local nodes via the personal API. It was determined that if nothing is using it, we can deprecate and remove the functionality instead of fixing it.

[2021-07-01 07:34] #246 closed

[2021-07-02 13:29] #343 closed

[2021-07-02 13:57] #306 closed

[2021-07-02 14:27] #330 closed

[2021-07-02 18:05] #358 closed

[2021-07-05 18:47] DMats opened #367 "Fix assert log at test_ddo.py::212, missing web3 parameter"
There's a minor bug at `test_ddo.py::212` - the assert log statement constructs a `DataToken` but doesn't pass the `web3` instance as a parameter.

[2021-07-05 20:01] #367 closed

[2021-07-06 13:05] #202 closed

[2021-07-06 13:55] DMats commented on #348
Yesterday @mariacarmina and I spent a couple of hours investigating this issue. Unfortunately, we were not able to diagnose the problem.

We know that the issue started occurring after #333 when we upgraded from Web3 v4 to v5.

The `MismatchedABI` exception is thrown at line events.py::211 inside `get_event_data`.

[code]

At the moment the exception occurs:

* event_abi_to_log_topic(event_abi) =

[2021-07-06 19:15] #360 closed

[2021-07-06 19:34] mariacarmina commented on #348
Due to the fact that there are plenty of issues regarding `MismatchedABI` on the internet, I have discussed with @alexcos20 and we establish that it might be an issue from web3 library. But I am not quite about that
For reference, I attached the links with some similar problems:

- https://github.com/ethereum/web3.py/issues/1830 (I need to mention here that I have tried to reproduce this and this

[2021-07-06 22:37] DMats commented on #348
@mariacarmina @alexcos20 @calina-c @trentmc

# `MismatchedABI` warnings are harmless and should be suppressed with `errors=DISCARD`
I have determined that the `MismatchedABI` warnings are harmless and it is OK to suppress them by passing `errors=DISCARD` to the `processReceipt` method like so:

[code]

# Why do the `MismatchedABI` warnings occur?
The `ContractEvent.processReceipt()` method process

[2021-07-07 14:01] DMats opened #370 "Use chainId instead of networkId to lookup network name"
Currently, to look up a network name, ocean.py calls `web3.net.version` to get the networkId from the node and then looks up the name in the `NETWORK_NAME_MAP`, a constant stored in ocean_lib/web3_internal/constants.py.

This logic works today because we only include supported networks in the `NETWORK_NAME_MAP` and it just so happens that all of those networks have `chainId == networkId`.

But thi

[2021-07-07 21:44] #348 closed

[2021-07-12 10:55] calina-c commented on #353
Tried with the ocean-lib current version (0.5.26).
The only issues encountered were the ABI Mismatch warnings, but no such error.

I can not reproduce this. Can you give us more details? e.g. ocean-lib version, Python version, OS. Did you create the config file as in the instructions? Is the environment isolated in a folder of its own? Anything helps. Thank you!

[2021-07-12 14:43] DMats opened #374 "Config.address_file() returns artifacts directory by default"
# Issue
Config.address_file() returns the artifacts directory from the `ocean-contracts` dependency when `ADDRESS_FILE` envvar and `address.file` config option are not set

# Expected Behavior
`Config.address_file()` should return the `artifacts/address.json` file.

[2021-07-12 17:24] #374 closed

[2021-07-13 00:51] DMats opened #376 "Ocean uses "development" contract addresses, even when configured for other networks"
# Issue
Ocean.py uses "development" contract addresses, even when configured for other networks.

I marked this issue "Priority: High" because the top-level `Ocean` API is unusable on any real networks until it is fixed.

# Expected
Ocean.py should use the correct addresses.

# Analysis
`ocean_lib/web3_internal/utils.py::get_network_name` returns "ganache" when neither parameters (`network_id` and

[2021-07-13 11:44] #376 closed

[2021-07-13 11:48] alexcos20 opened #378 "Pass through of userdata to provider"
We need to be able to support:

- assets that require some input data from the consumer
- during C2D, some algorithms may require additional parameters from the consumer

After user input, those fields are going to look like an array of key => values

For each dataset, that array has to be passed to the provider

Impact on
* consume function - ocean_assets - download
https://github.com/oceanprotoc

[2021-07-13 11:49] alexcos20 opened #379 "Pass through of algouserdata to provider"
We need to be able to support:

- assets that require some input data from the consumer
- during C2D, some algorithms may require additional parameters from the consumer

After user input, those fields are going to look like an array of key => values

During compute, we need to pas algouserdata to the provider

Impact on:
* ocean compute start function
https://github.com/oceanprotocol/ocean.py/blo

[2021-07-13 12:50] AnaLoznianu commented on #239
Linked issue: https://app.zenhub.com/workspaces/backend-5e5e5a97e91ce03f380fb9b7/issues/oceanprotocol/ocean.py/240

[2021-07-14 03:45] DMats commented on #239
At today's sprint grooming meeting, I expressed concerns about removing OceanPool.

Currently:
1. OceanPool in Ocean.py and OceanPool in Ocean.js are similar - they share an intent, even if the details differ.
2. BPool is a thin wrapper around the underlying Balancer V1 smart contracts.
3. OceanPool is a wrapper around BPool - it restricts pools to contain only Ocean and Datatokens

Questions:
1.

[2021-07-14 14:13] calina-c commented on #239
Removing the Status:Refined label since it does not apply. Moving both this and #240 to issues that are not confirmed. There are still discussions related to this. Possibly we will improve OceanPool instead of removing it, but v4 takes priority (and might change the context for this one).

[2021-07-14 14:14] calina-c commented on #240
Moving. to longer term and removing the "Status:Refined" label. See the discussion in #239 better.

[2021-07-15 08:59] MrAliFar commented on #353
My OS is Ubuntu 20.04, the Ocean-lib version is 0.5.24, and Python version is 3.8.5. Yes the config file is exactly the same, and the environment folder is isolated.

I noticed that when installing ocean-lib using the command `pip install ocean-lib`, the installed ocean-lib has some inconsistencies with the code in the repository. For instance, the function `mint_fake_OCEAN()` takes a config file

[2021-07-15 09:02] calina-c commented on #353
Yes, it's possible that 0.5.24 was broken and superseded by newer versions, where that issue was corrected. Can you try with the latest ocean-lib version? Or at least with 0.5.25?

[2021-07-15 22:40] tmk1221 opened #382 "Marketplace Flow -- ABI Mismatch Error"
**Describe the bug**
Following through the marketplace flow in Ocean.py

I successfully startup barge and run Ocean market service.

The error occurs during "2. Alice publishes data asset".

The first error occurs after "data_token = ocean.create_data_token()".

Something about "ABI Mismatch".

The second error I cannot continue past. It's when I run:

'''python
asset = ocean.assets.create(
  meta

[2021-07-16 12:20] DMats commented on #382
The Mismatched ABI warnings are benign and can safely be ignored. Nonetheless we fixed them in https://github.com/oceanprotocol/ocean.py/pull/369 which will be included in the next release.

For the second error, I'd recommend waiting longer before killing it.  In times of high congestion, I've seen that command take 15 minutes.

[2021-07-16 14:20] tmk1221 commented on #382
@DMats - understood on Mismatched ABI.

I'm using Barge, so I expected there to be no congestion, therefore little latency.

I've now left the command running for an error, and it's still hanging. Perhaps it's a problem with Barge?

I see that I get a logging error in Barge output, roughly every 30 minutes. See below:
________________________

aquarius_1         | --- Logging error ---
aquarius_1

[2021-07-19 13:08] #370 closed

[2021-07-19 17:46] #252 closed

[2021-07-19 18:07] akshay-ap opened #384 "Fix missing content in Ocean.py py module"
Is your feature request related to a problem? Please describe.
Read the docs parses the source code of `Ocean.py` and generates `.md` files. The generated markdowns are rendered here: https://docs.oceanprotocol.com/references/read-the-docs/ocean-py/. Some of the modules show No content present as there are no doc string the source code.

Describe the solution you'd like
Remove No content present b

[2021-07-19 19:50] DMats commented on #382
@tmk1221 I was unable to reproduce the errors you've shown. I'm able to successfully create the asset, and it finishes rather quickly.

Work Console:
[code]

Barge console:
[code]

I can see from the `Terminal.txt` you posted that you're on a Mac.  Did you increase the docker memory to 4GB instead of 2 before running barge? See for details https://github.com/oceanprotocol/barge#prerequisites

Also

[2021-07-20 03:10] DMats opened #387 "OceanPool.buy_data_tokens works first time, fails subsequent times"
`OceanPool.buy_data_tokens` runs `DataToken.approve_tokens`. This works the first time it is run but fails subsequent times if the approval amount hasn't increased.

`OceanPool.buy_data_tokens` should check the current allowance and only request an increase if necessary.

[2021-07-20 12:20] AnaLoznianu opened #388 "BSC support in ocean.py"
Update ocean.py to support BSC(chainId, networkName)

[2021-07-20 12:28] DMats commented on #388
Update the following structs to include BSC.

* util.py::SUPPORTED_NETWORK_NAME
* constants.py::NETWORK_NAME_MAP
* constants.py::NETWORK_TIMEOUT_MAP

No need to do a full marketplace flow test on BSC. Instead, it's sufficient to just lookup an account balance.

[2021-07-20 12:28] AnaLoznianu opened #389 "NFT-ize base IP in ocean.py"

[2021-07-20 12:29] AnaLoznianu opened #390 "Ensure backwards compatibility with V3"
- [ ] fix unit tests on the V4 branch

[2021-07-20 12:30] AnaLoznianu opened #391 "Unit tests are not working on the V4 branch"

[2021-07-20 12:33] AnaLoznianu opened #392 "Investigate a possible PyPi release of Ocean Contracts V4 alpha"

[2021-07-20 12:44] AnaLoznianu opened #393 "Add block confirmations"
Linked issue: https://app.zenhub.com/workspaces/backend-5e5e5a97e91ce03f380fb9b7/issues/oceanprotocol/ocean.py/227

[2021-07-20 14:01] mariacarmina commented on #388
@DMats, I searched for NETWORK_TIMEOUT_MAP in ocean.py and it doesn't exits. It only provides `SUPPORTED_NETWORK_NAME` and `NETWORK_NAME_MAP`.

[2021-07-20 14:11] DMats commented on #388
@mariacarmina my mistake. The timeout map will be added in issue #227 (PR #309)

[2021-07-21 07:38] calina-c commented on #225
Moved in `aquarius/ddo_checker`. Marking this as closed.

[2021-07-21 07:38] #225 closed

[2021-07-21 07:58] #388 closed

[2021-07-22 06:39] calina-c commented on #392
https://www.python.org/dev/peps/pep-0440/

According to this, it is possible to release alpha versions and dev versions. We just need to name them accordingly. So, totally possible.

[2021-07-22 07:14] #179 closed

[2021-07-22 08:14] calina-c commented on #260
OBE because of:

https://app.zenhub.com/workspaces/backend-5e5e5a97e91ce03f380fb9b7/issues/oceanprotocol/ocean.py/329
https://github.com/oceanprotocol/ocean.py/pull/335

[2021-07-22 08:14] #260 closed

[2021-07-22 23:09] DMats commented on #345
This is fixed by stable aqua https://github.com/oceanprotocol/aquarius/pull/446

[2021-07-22 23:09] #345 closed

[2021-07-23 11:10] mariacarmina opened #397 "ocean.pool.get() missing 1 required positional argument in marketplace-flow README"
When I tested the marketplace-flow README for #387, I noticed that inside the README exists an error at `Marketplace displays asset for sale` at pool retrieval `pool = ocean.pool.get(pool_address)`. Right now after the removing Web3Provider singleton, the majority functions have a web3 parameter. This function also needs an web3 instance given as a parameter when it is called in the marketplace-fl

[2021-07-23 14:17] #397 closed

[2021-07-23 15:17] #387 closed

[2021-07-23 15:44] #227 closed

[2021-07-26 05:26] DMats opened #400 "Eliminate unnecessary properties"
Python properties allow for the creation of complex setters and getters.  But if no setter is defined, and the getter simply returns the similarly named instance variable, then the property is unnecessary and bloats the codebase.

This issue is to eliminate properties that look like this:

[code]

The above snippets is the equivalent of a simple `service_endpoint` instance variable.

[code]

[2021-07-26 09:16] AnaLoznianu opened #402 "Handle roles in ERC20 token template"
- [x] have getters, setters for role management data token template
- [x] minter role
- [x] fee manager role

[2021-07-26 09:19] AnaLoznianu opened #401 "Balancer v2 pools"
Support all required operations
- [ ] swaping
- [ ] creating pools
- [ ] add/remove liquidity

[2021-07-26 09:23] AnaLoznianu opened #403 "Metadata in v4"
- [ ] Support metadata editing
- [ ] Add integration tests

[2021-07-26 12:32] DMats opened #404 "Add moonbeamalpha support to ocean.py"
Same changes as https://github.com/oceanprotocol/ocean.py/issues/388 except for moonbeamalpha

[2021-07-26 13:17] trentmc commented on #393
Was timeout exceeded? If no, this behavior indicates a bug given that ocean.py is supposed to be blocking now. (And if that's the case, the bug should be fixed before further discussion in this issue.)

[2021-07-26 15:03] DMats commented on #393
@trentmc When this error manifests, the timeout is not exceeded. I agree that this behavior should be considered a bug, but I disagree that it indicates the blocking logic is not working.

Every place that ocean.py calls `web3.eth.send_transaction()` or `web3.eth.send_raw_transaction()`, it is followed by `web3.eth.wait_for_transaction_receipt()`.

Thus, I assert that ocean.py blocks until the tra

[2021-07-26 16:51] trentmc commented on #393
Thanks. To build on what you are saying: People should expect that in blocking behavior to do action x, if should do x every time. Or perhaps fail one in a thousand times. Not 3 out of 15. If the web3 wait function doesn't do enough, there should be other backup things to do. I still see this as a bug.

[2021-07-26 20:07] DMats commented on #393
# Proposed Solution
@trentmc @alexcos20 I believe the solution to this issue is to block until some number of blocks after the transaction has been mined and then double-check that the transaction receipt is still in the chain.

# Psedudocode

[code]

# Questions
1. Make block confirmations configurable via config.ini and envvars?
2. Make poll interval configurable via config.ini and envvars?
3. D

[2021-07-26 20:09] trentmc commented on #393
I appreciate the thorough answer 👍👍.

OK with me.

[2021-07-27 04:22] DMats opened #405 "Don't retry failed transactions"
In #309, the `ContractBase.transact_with_contract_function` logic was changed to retry failed transactions (where receipt.status = 0) until the Timeout is hit.

[This StackOverflow](https://ethereum.stackexchange.com/a/29471) details all the reasons a transaction might fail and I (@DMats) fear that the retry logic is more harmful than good, in that it will very quickly waste a user's ETH on networ

[2021-07-27 04:59] #384 closed

[2021-07-27 05:34] calina-c opened #407 "Wrong function used in ddo.py for fallback"
I won't link the line directly, since it will change in subsequent PRs.
In ddo.py, function get_service_by_index takes the service index. If the service is not found, the last line defaults to `self.get_service(index)`, but that function takes a service_type, a string, and it is impossible it will return something relevant.

I propose we remove the fallback entirely.

[2021-07-27 06:03] calina-c commented on #259
I have reestimated this ticket since it now covers typing throughout all the modules, not just a partial improvement.

[2021-07-27 06:06] calina-c commented on #180
I propose closing this. Django uses libraries like any other Python package, so I'm not sure what we should document? As to writing a wrapper for django, I don't think that is in our list of priorities. Overall it seems like a wild goose chase, imo.

[2021-07-27 14:45] DMats opened #410 "Remove usage of `aquarius/assets` and `aquarius/assets/ddo` endpoints"
Given that the `/assets` and `/assets/ddo` endpoints will be removed from aquarius in https://github.com/oceanprotocol/aquarius/issues/535, we should pre-emptively remove usage of these endpoints from ocean.py.

[2021-07-27 15:55] #347 closed

[2021-07-27 19:06] #378 closed

[2021-07-27 19:06] #379 closed

[2021-07-28 04:17] #407 closed

[2021-07-28 06:01] #392 closed

[2021-07-28 10:44] alexcos20 opened #411 "Check balance before doing token operations"
**Describe the bug**
Before doing any transaction that involves tokens (pool setup, swap, add liquidity, remove, datatoken order, etc), please check the balances and return a nice error message to the user.

Do not let users trying to figure why their transaction failed by debuging smartcontracts/etherscans/etc..

**To Reproduce**
Create a datatoken , approve both DT & Ocean, create BPool and then

[2021-07-28 10:55] calina-c commented on #382
@tmk1221 any news? Were you successful with David's recommendations?

[2021-07-28 10:57] calina-c commented on #400
I second this.

[2021-07-28 11:09] calina-c commented on #393
I moved this into the "PM to discuss" column because we need to deliberate whether it will be part of the v3 feature freeze.

[2021-07-28 11:13] calina-c commented on #353
@MrAliFar any updates on this? Does it work with a newer version?

[2021-07-28 12:41] MrAliFar commented on #353
@calina-c I haven't had a chance to test it with a newer version. I'll come back once I've done it.

[2021-07-28 15:55] AnaLoznianu commented on #180
Needs more flashing out and more details about what problems Django users encounter.

[2021-07-28 16:02] #149 closed

[2021-07-28 17:07] trentmc commented on #180
I agree with @calina-c on this one, you just import it and use it the way you would for any other python lib.

If someone is actually trying to build in Django and sees / wants / needs specific ways to improve, we do stuff then. In the meantime I think we can and should close this issue (imo).

[2021-07-28 17:09] trentmc commented on #180
@kremalicious any problems if we close this ticket? Much bigger fish to fry, and we can revisit if/when someone using ocean.py in django has needs and feedback.

[2021-07-29 07:12] #180 closed

[2021-07-30 03:52] DMats opened #416 "Remove NETWORK_URL name resolution logic"
Currently, the `NETWORK_URL` envvar and `network.url` config options support the ability to pass a network name which will be resolved to one of the following:
1. a public RPC (in the case of Polygon/BSC)
2. An Infura project URL, built using the `INFURA_PROJECT_ID` and `INFURA_CONNECTION_TYPE` envvars.
3. A hard-coded Infura project URL.

This name resolution is implemented in the `get_web3_conne

[2021-07-30 04:00] DMats commented on #331
When we discussed this issue on Tuesday, we discussed removing NETWORK_URL name resolution logic as part of this issue. I tried but ultimately decided it warranted a separate issue which I created here: https://github.com/oceanprotocol/ocean.py/issues/416

[2021-07-30 04:55] LinuxIsCool opened #418 "Add CI/CD pipeline and badge to the repository that verifies tests are passing."
**Is your feature request related to a problem? Please describe.**
Lacking CI/CD tests

**Describe the solution you'd like**
CI/CD that runs tests and renders passing badge

**Describe alternatives you've considered**
Running tests to find that they fail.

**Additional context**
I'm getting an error when I go through the simple flow. Then I went through the developer flow and found that tests are

[2021-08-02 07:38] alexcos20 opened #419 "Data_provider: add isValidProvider(url)"
Ocean_lib should have a function isValidProvider (url)

Given a URL (or serviceEndoint), this function should curl the root URL, and detect if that it's a valid provider  ( check https://github.com/oceanprotocol/ocean.js/blob/27d074f3b827bcfbba3eff532a866226a824e2af/src/provider/Provider.ts#L490)

Should return True or False

[2021-08-02 09:05] kremalicious opened #420 "Compute flow example: impossible block of code"
In the compute flow example in step 5. after getting the price of datatoken, code then tries to get this price converted into fiat by getting the USD value of OCEAN from one specific pool: https://github.com/oceanprotocol/ocean.py/blob/main/READMEs/compute-flow.md#5-marketplace-posts-asset-for-sale-using-price-obtained-from-balancer-pool

But that pool does not exist on either network, there simpl

[2021-08-03 05:18] #259 closed

[2021-08-03 06:06] #410 closed

[2021-08-03 12:34] alexcos20 commented on #393
we can use the new ConfigHelper to store intervals depending on the network

[2021-08-03 12:48] alexcos20 opened #423 "Release a new version before typed feature"
Make sure all components that depends on ocean.py are fine

[2021-08-03 12:49] DMats commented on #423
This issue includes updating the Provider to use the new ocean.py version

[2021-08-03 17:33] #411 closed

[2021-08-04 13:10] #423 closed

[2021-08-05 08:13] #405 closed

[2021-08-05 08:41] #416 closed

[2021-08-06 04:19] DMats opened #429 "Error starting provider in barge: ModuleNotFoundError: No module named 'py'"
# Error

[code]

# Analysis

This is the function where `LocalPath` is used.

[code]

It's calling `os.path.join`. According to the [docs]:(https://docs.python.org/3/library/os.path.html#os.path.join)

Thus, the `write_file` type hint should be
`Union[str, bytes, os.PathLike]`

[2021-08-06 05:19] calina-c commented on #418
Hi, @LinuxIsCool !
We do have this. Please check out the readme here, there are badges from Code Climate: https://github.com/oceanprotocol/ocean.py/

We also employ CI checks for formatting (using black), PR and branch push test runs, maintainability and test coverage through Code Climate.

Because we have a dynamic team and we keep improving things in preparation for new features, sometimes thing

[2021-08-06 13:54] #429 closed

[2021-08-09 08:30] alexcos20 opened #434 "publisherTrustedAlgorithmPublishers"
In order to use an algorithm with a dataset on C2D, we have 3 options now:
  - allowRaw
  - allowAnyPublished
  - publisherTrustedAlgorithms

When having tons of assets, it's hard to update them every time a trusted publisher is publishing a new algorithm. Or in Enterprise world, it's secure to trust your IT Department.

Proposal:
 - add publisherTrustedAlgorithmPublishers, which is an array of al

[2021-08-09 12:05] DMats commented on #231
I synced the `wei-interface` branch with `main` and intend to continue working on this task this week.

[2021-08-10 08:17] #419 closed

[2021-08-10 16:28] mariacarmina commented on #393
On ganache, the blocks aren't generated automatically and the block number will be the same unless you will send new transactions. I discussed with @alexcos20 and the approach for ganache network is to implement a function that send dummy transactions until the block range is reached.
BTW, right now the `poll intervals` are hardcoded until #435 is merged.

[2021-08-10 20:08] DMats commented on #400
It occurred to me that property setters might allow for type enforcement when altering attributes, so I decided to test it.  Conclusion: `@enforce_types` doesn't work on setters so type enforcement is **not** a reason to keep using properties.

test.py
[code]

python console
[code]

[2021-08-12 07:02] #400 closed

[2021-08-12 18:47] mariacarmina opened #439 "test_create_asset_with_owner_address does not working properly"
While testing in #436, I noticed that `test_create_asset_with_owner_address` from `test_ocean_assets.py` does not test the proposed target. Compares two assets if they have the same owner address and throws `AquariusError` because the two have the same `did`. Needs refactoring.

[2021-08-12 20:10] #439 closed

[2021-08-16 08:28] trentmc opened #441 "Make get-test-OCEAN.md work smoothly with rinkeby"
**Is your feature request related to a problem? Please describe.**
READMEs/get-test-OCEAN.md is about the user getting test OCEAN on rinkeby.

It asks the user to first go through the datatokens README. This made sense when that README was on rinkeby. But now the datatokens README uses ganache. So there are two problems:

1. Going through the datatokens README is a waste of time / misleading
2. Th

[2021-08-16 09:18] mariacarmina opened #442 "Rename NETWORK_URL to OCEAN_NETWORK_URL"
Rename `NETWORK_URL` to `OCEAN_NETWORK_URL` for consistency with `ocean.js`. Found in #435, will be resolved in a separate PR.

[2021-08-16 09:35] alexcos20 opened #443 "Readme: how to use fixed rate exchange in ocean.py"
All READMEs are using pools for pricing.  We should also have example for fixed rate exchange and dispenser.

[2021-08-16 09:38] alexcos20 opened #444 "Readme: How to encrypt DDO"
I'm a data publisher and I want to publish my dataset using my ocean.py based app.
I want my dataset to be visible only in my marketplace, and NOT in any other (like ocean market)
How do I do that?

[2021-08-16 09:50] #441 closed

[2021-08-16 10:03] trentmc opened #446 "The old, obsolete compute-to-data README is causing confusion"
**Is your feature request related to a problem? Please describe.**

compute-flow.md is long out of date.

Because of this, it hasn't been linked to any READMEs that appear prominently. The only way you find it is if you go to the md file itself.

(We have only kept it around as a starting point for #279 - a good c2d README.)

The very top of the also says "obsolete".

But that still hasn't stopped

[2021-08-16 10:07] #446 closed

[2021-08-16 10:09] trentmc commented on #420
This file is obsolete, as it states at the top. We'd only kept it around to make it easier for reviving C2D. But given that it's _still_ causing confusion, it should be deleted. So I created #446 for that. And completed the issue, ie deleted the file.

Therefore this issue also goes away too.

[2021-08-16 10:09] #420 closed

[2021-08-16 11:59] trentmc commented on #279
@mariacarmina @calina-c I will take over this issue

[2021-08-16 14:28] mariacarmina opened #449 "Add config parameter to the Ocean object in parameters.md"
Add config parameter to the Ocean object in `parameters.md` in section 3 "**No input, so it uses OCEAN_CONFIG_FILE envvar**". Found in #435, resolve in a separate issue.

[2021-08-17 12:20] trentmc commented on #353
We haven't heard back from you.

I went through the datatokens README from a fresh git clone, and encountered no issues.

Therefore closing this issue for now.

@MrAliFar if you update to the latest version, and still encounter the issue, please reopen this issue. Thank you:)

[2021-08-17 12:20] #353 closed

[2021-08-17 12:43] AnaLoznianu opened #450 "Compare features list ocean.py-ocean.js"

[2021-08-18 08:19] #434 closed

[2021-08-18 09:45] #331 closed

[2021-08-18 13:00] trentmc opened #452 "MetadataContract is showing up as None"
**Describe the bug**
I went through the simple datatokens README.

It went smoothly until the last part, in a Python step. Here's that step, and the traceback
[code]

**Describe the solution**
WIP

[2021-08-20 06:34] trentmc commented on #452
I just tried to reproduce this, from everything clean. No issues encountered. Likely what caused the issue was some older artifacts from barge.

Closing issue.

[2021-08-20 06:34] #452 closed

[2021-08-20 08:08] #449 closed

[2021-08-20 11:39] #404 closed

[2021-08-20 15:20] #444 closed

[2021-08-20 22:00] #442 closed

[2021-08-23 04:13] calina-c commented on #401
I understood we won't work with balancer v2 after all. Is this still a valid ticket?

[2021-08-23 05:25] alexcos20 opened #457 "Secure C2D Outputs"
Right now, the result of a C2D data (outputs/algo logs) are sent as a URL to the consumer.
Which means that anyone who has those URL has access to them, even if he/she is not the actual consumer.

Proposal:

- GET /compute    (get job results) hides the urls, exposing only an array of output file names, size & type
[code]

Provider exposes new endpoint:   GET /computeResult, which retrieves an out

[2021-08-23 05:28] alexcos20 commented on #457
for reference:  https://github.com/oceanprotocol/ocean.js/pull/983

[2021-08-23 21:28] DMats opened #458 "`OceanPool.get_liquidity_history` returns incorrect timestamps on non-ethereum-mainnet chains"
**Describe the bug**
`OceanPool.get_liquidity_history()` interpolates to estimate block timestamps based on a 15 second block time. This assumption works for Ethereum mainnet, but is incorrect for other chains like Polygon or BSC. For example, the average [Polygon block time](https://polygonscan.com/chart/blocktime) in recent months has been 2.15 seconds.

The offending logic can be seen at https:

[2021-08-24 00:32] DMats opened #459 "Enforce types on all class methods"
**Is your feature request related to a problem? Please describe.**
While reviewing PR #431 (which fixed Issue #400), I discovered that applying `@enforce_types` to a class doesn't automatically enforce types for its class methods (like I previously thought). `@enforce_types` must be applied to every function/method for which type enforcement is desired.

Given that type enforcement has already gon

[2021-08-24 12:23] AnaLoznianu opened #461 "Readme: Dispenser in ocean.py"
All READMEs are using pools for pricing. We should also have example for  dispenser.

[2021-08-24 12:51] #401 closed

[2021-08-24 21:15] DMats opened #462 "Remove section 8 from `developers.md` because it conflicts with step 0 of `release-process.md`"
`developers.md` section 8 references `remark` and `sphinx` for generating markdown docs. This conflicts with the `release-process.md` which references `oceanprotocol/readthedocs` to generate docs. I believe that `release-process.md` is correct and that section 8 of `developers.md` should be removed.

[2021-08-26 09:36] mariacarmina opened #463 "Implement a function which searches an exchange by token address criteria just like in ocean.js"
This is very useful for FRE README (#460) when a user has already created an exchange and wants to search for it filtering by the token address.

**Possible solution**
Retrive the events, filter by `ExchangeCreated` and after verify the token address from that event.

**For reference**
https://github.com/oceanprotocol/ocean.js/blob/main/src/exchange/FixedRateExchange.ts#L382-L414

[2021-08-31 05:40] calina-c commented on #418
@LinuxIsCool I'll close this issue for lack of input, the badges are there. If you have more details to add, feel free o reopen or create another issue for the simple flow, if it is still a problem with newer versions.

[2021-08-31 05:40] #418 closed

[2021-08-31 06:56] #463 closed

[2021-09-01 07:43] mariacarmina opened #467 "Replace get_event_logs with getLogs in ocean_exchange search_exchange_by_data_token"
While testing the FRE README (#460), I noticed that the output from `get_event_logs` is not the wanted one. Instead of a list of AttributeDicts, I saw `"Searched blocks {_from}-{_to}. {len(all_logs)} {event_name} events detected so far."` message.

**Solution**
Replace with `getLogs` in `search_exchange_by_data_token`.

[2021-09-01 08:20] #467 closed

[2021-09-01 19:38] alexcos20 opened #469 "Compute: dataset on provider 1 , algorithm on provider2"
**Describe the bug**
Ocean.py MUST be able to start a compute job when dataset and algorithm are published using different providers.
This is not happening now, because the ordering flow is completely broken (consumer always equals payer)

More details:
Any provider will expose the 'computeAddress'  - see here:  https://provider.rinkeby.oceanprotocol.com/
(Ocean.py has no way of fetching this addr

[2021-09-02 05:27] calina-c commented on #457
I have succeeded in making this work, I get a binary response. However it is a draft since:
- I am confused about the naming, our previous function was already called results
- I suppose the binary content of the file is what I should be getting, but I am not entirely sure.
- It doesn't work with the barge version of provider, only with a local provider spun up by me from the secure c2d branch. So

[2021-09-02 05:39] calina-c commented on #239
@trentmc do you think we can close this?

[2021-09-02 06:24] #443 closed

[2021-09-02 07:33] trentmc commented on #240
Closing this since we're keeping some convenience methods.

[2021-09-02 07:33] #240 closed

[2021-09-02 07:33] trentmc commented on #239
Closing this since we're keeping some convenience methods.

[2021-09-02 07:33] #239 closed

[2021-09-02 11:51] #462 closed

[2021-09-02 12:09] calina-c opened #471 "Refactor or remove OceanCompute and DataServiceProvider"
Everytime we make a change in Provider, we are forced to break the ocean.py interface by adding parameters to the data_service_provider.py functions. The state of the OceanCompute and DataServiceProvider classes has snowballed and is far more cumbersome than it should be. Instead of letting the snowball role, we have to take some actions. During a call with Trent and Maria, we explored several opt

[2021-09-02 12:12] calina-c opened #472 "READMEs as integration tests"
Right now, READMEs and unit tests are out of sync. Some READMEs have corresponding tests, but we are not guaranteeing that a change in one part will be done in the other corresponding part. We want to find a better way of testing the READMEs, automatically if possible.

I opened this ticket for possible suggestions/brainstorming/proof of concepts. Work on this if you have nothing else to work on.

[2021-09-02 12:15] calina-c opened #473 "Reduce ocean.py test suite runs, using mocks and patches where possible"
Right now, ocean.py tests take around 30 mins. This is a long time interval, especially since we are required to run this before every PR merge. Also, most of the ocean.py tests are in fact integration tests. I think a big chunk of time can be saved if we use proper unit tests in some places.

My suggestion would be to use mocks and patches. Python offers a flexible way of using patches and replac

[2021-09-06 13:09] mariacarmina opened #476 "ADDRESS_FILE not provided in READMEs when using ExampleConfig & update the private keys in the ocean.py codebase"
1. `ADDRESS_FILE` is not provided in READMEs. Where the `ExampleConfig` is used, needs to have in the env, `ADDRESS_FILE`
2. Update the private keys in the ocean.py codebase

[2021-09-06 14:10] mariacarmina opened #477 "Move NETOWRK_NAME from example_config.py to config.py for creating a new property regarding network name"
I tested the dispenser README #474 and I realized that I need to retrieve the network name from the config object that I created to access the specific contracts addresses.

**Code snippet**
`contracts_addresses = get_contracts_addresses('ganache', config.address_file)`

[2021-09-06 15:15] #477 closed

[2021-09-07 07:53] mariacarmina commented on #476
I have tested again with the same private keys from the README and as far as I saw they have sufficient balance, but it fails on `create_data_token`.
![Screenshot from 2021-09-07 10-52-48.png](https://images.zenhubusercontent.com/5ff442e8d03d4b2d4051265f/e3b9fb1f-4b0b-4a8d-a1d3-fc918a2a3db1)

[2021-09-07 08:54] calina-c commented on #457
Intermediary form fixed, waiting for review.

[2021-09-07 09:04] calina-c commented on #382
I am closing this due to inactivity.

[2021-09-07 09:04] #382 closed

[2021-09-07 09:11] calina-c commented on #471
@trentmc @mariacarmina I have discussed this with Alex and his recommendation is we keep both classes, and work on the smart input objects.

@AnaLoznianu perhaps this can be integrated into the current sprint if nothing else arises.

[2021-09-07 11:48] mariacarmina commented on #476
I wanted to see the `tx_receipt` and different fields. Apparently, neither `TokenCreated` and neither `TokenRegistered` were emitted.
BTW, I used `getLogs` to get the stateless logs
![image.png](https://images.zenhubusercontent.com/5ff442e8d03d4b2d4051265f/d097ff6b-d161-4980-9c9c-bcdc5b88cf97)
![image.png](https://images.zenhubusercontent.com/5ff442e8d03d4b2d4051265f/cb8cb65f-656f-4251-a4e2-acc75b

[2021-09-07 13:28] trentmc commented on #471
Python to do x
   ||
REST to do x
   ||
Python to do x

Why?

[2021-09-08 13:20] mariacarmina commented on #476
**EDIT3**: The fix when testing on `ganache` network is to `mint_fake_OCEAN` before, but when I tried reproducing the marketplace-flow README, another error occurred from the contract. I attempt to investigate further.
![Screenshot from 2021-09-08 16-17-19.png](https://images.zenhubusercontent.com/5ff442e8d03d4b2d4051265f/37df9717-330b-4f33-b6bd-09946c37807d)

[2021-09-08 13:46] trentmc commented on #476
It might be related to `mint_fake_ocean`.

However if Alice doesn't even have ETH to begin with, then your problem is happening before that.

In my quick testing, I found that Alice didn't even have ETH to begin with.

[2021-09-08 13:50] mariacarmina commented on #476
So, `mint_fake_OCEAN` transfers ether in those accounts if they have sufficient balance, the exception that I receive when I call `mint_fake_OCEAN` is from the contract: `web3.exceptions.BadFunctionCallOutput: could not transact with/call contract function, is contract deployed correctly and chain synced?` when I call `balanceOf` from `DataToken` contract.

[2021-09-08 13:52] trentmc commented on #476
The error you get means that it can't see the ABIs. Perhaps looking at the wrong addresses? Or even the wrong chain uri?

[2021-09-08 13:58] mariacarmina commented on #476
I saw other comments mostly regarding the ABIs problem.

[2021-09-08 14:25] mariacarmina commented on #476
I have read this [thread](https://github.com/ethereum/web3.py/issues/185) from GitHub and seems they are facing the same issue. Maybe is there a problem with the contract code?

[2021-09-08 14:57] trentmc commented on #476
You don't need to create another issue. Just keep hunting down on this one to the root of this problem.

[2021-09-08 15:14] mariacarmina commented on #476
Sure @trentmc.

[2021-09-08 15:18] alexcos20 commented on #476
1. where did you get TEST_PRIVATE_KEY ?
ganache has a mnemonic (https://github.com/oceanprotocol/barge/blob/main/start_ocean.sh#L52) and if you use https://iancoleman.io/bip39/ with that mnemonic, you will NOT find address 0x66a in the list of addresses with ETH balance

2. ocean-contracts.   Where run by barge, it will call https://github.com/oceanprotocol/contracts/blob/main/scripts/deploy_docke

[2021-09-08 15:34] mariacarmina commented on #476
Ok, thank you for the info, I will try with different private key then. the address that begins with 0x66a is from marketplace-flow README.

[2021-09-08 16:25] alexcos20 commented on #476
problem solved, you should always specify address.json path using ENV  (https://github.com/oceanprotocol/ocean.py/blob/main/tox.ini#L17)

[2021-09-08 16:28] mariacarmina commented on #476
Based on the discussion with @alexcos20, I noticed that in some of the READMEs the `ARTIFACT_PATH` isn't provided so the contract addresses from my venv were mismatched. This is the root of this problem.

[2021-09-09 08:33] calina-c commented on #473
Started benchmarking.

[2021-09-09 15:41] #476 closed

[2021-09-09 15:43] #461 closed

[2021-09-10 06:03] #473 closed

[2021-09-14 17:04] aman-rac commented on #472
@calina-c https://github.com/oceanprotocol/ocean.py/blob/main/READMEs/marketplace-flow.md has `from ocean_lib.web3_internal.currency import to_wei` which is in the codebase of Ocean.py but not in v0.5.30 of ocean-lib and hence gives this error ->
![Screenshot 2021-09-14 at 10 33 26 PM](https://user-images.githubusercontent.com/73213717/133301961-05479479-306e-4178-949a-8186c17d89fd.png)